[2022-04-27 10:34] #6501 closed

[2022-04-27 10:34] #6483 closed

[2022-04-27 16:19] jcmorrow commented on #6512
For a second I was thinking to myself "how the heck did I just make this issue without saying where the actual issue was?!" But then I realized that this is actually a replay of the issue, not the replay where I found it! Anyways, to reproduce, go to https://app.replay.io/recording/replay-network-request-details-not-loading--fa66a20b-1eb6-48ee-b9c7-3cb1c0b6c46e?point=639301550986061446783765949678

[2022-04-27 16:25] jcmorrow commented on #6512
I had not tried `u`, but I think you are right. I guess this is a question for you @hbenl... when our sourcemap tool "knows" the right answer, why wouldn't our print statements/pause evaluations also use that mapping?

Also - is there some way to detect when a source mapping is broken and tell the user "hey, this isn't working but it's because our source-map lookup isn't working, not because we th

[2022-04-27 17:31] #6132 closed

[2022-04-27 19:31] bvaughn commented on #6527
Not able to repro this after a few tries, in either Safari or Replay browser. You still seeing this @jonbell-lot23?

[2022-04-27 19:52] #6527 closed

[2022-04-27 20:03] bvaughn commented on #6504
Agreed that VS Code wastes less space here, but I think the bulk of that is because they don't pad on the right side of the tab (and we do). The ellipsis take up extra space so we should probably remove them too, although that looks kind of broken. I wonder if we could show something (alpha gradient on the right side maybe?) so the clipped names are more obviously clipped?

[2022-04-27 20:13] jonbell-lot23 commented on #6569
@markerikson we don't consider this a project?

[2022-04-27 20:15] jonbell-lot23 commented on #6504
I support @jaril 's original idea but also like the nuance @bvaughn is bringing up. Even without the gradient fade I'd be fine with that tradeoff.

Like the direction, will follow along!

[2022-04-27 20:17] bvaughn commented on #6504
Here's my counter proposal (that mimics VS Code)
https://www.loom.com/share/8f93bc1048b047888619a1ccc3e77f9d

[2022-04-27 20:25] bvaughn commented on #6504
And here's one with the faded overlay:
https://www.loom.com/share/e5b8a8a1e37b42f6a788d19d48fed816

[2022-04-27 22:26] jcmorrow opened #6576 "Failing analyses should re-run when loading is complete for a different subset of regions"
When an analysis errors because it results in too many points, two important things need to happen:

- If we focus, we need to re-run that analysis, because now it might not result in too many points
- We need to tell the user that this analysis is no longer loading and is in an error state, and they should probably use focus to try and get a narrower working window

It's a little hard to tell fro

[2022-04-27 23:02] jcmorrow commented on #6549
Yeah, so this is a good example of https://www.notion.so/replayio/Loading-Region-Problems-b8dc0d03c49840f8b504e967c7ea5778. We need to be smarter about when we requery things. It's not enough to say "Wait for the entire recording to load before you issue an analysis". Because sometimes analyses will overflow and be rejected - and we need to re-run those upon changing the focus window (because afte

[2022-04-27 23:03] jcmorrow commented on #6549
I left a comment on http://localhost:8080/recording/invalid-no-hits--8c51609c-f563-4f53-8857-dba1005ee64a?point=39591263552052737907188651427627580&time=13953.572424181111&hasFrames=true where I finally found the issue. It was *very* hard to track down because of lots of *other* issues I was having with breakpoints.

[2022-04-27 23:28] jasonLaster commented on #6569
@jonbell-lot23 it's a pretty simple task. Could be completed in one go

[2022-04-28 00:45] #6504 closed

[2022-04-28 01:16] jonbell-lot23 opened #6577 "Gradient needs to work in light mode"
<img width="392" alt="image" src="https://user-images.githubusercontent.com/9154902/165656608-01053ab1-50fe-4336-a562-2749f10cba66.png">

[2022-04-28 01:51] #6577 closed

[2022-04-28 10:13] hbenl commented on #6255
So in recordings of app.replay.io, scope variables are not mapped to their original names for *some* sources (e.g. `src/ui/components/Comments/index.tsx` in this issue or `src/ui/components/NetworkMonitor/RequestDetails.tsx` in #6512) although it works for some other sources (e.g. `pages/_app.tsx`).
The frames that we get from the backend for these sources contain no original scopes at all - which

[2022-04-28 10:19] hbenl commented on #6512
But it doesn't know the answer - if you look at the scopes panel, it shows only generated variable names.

Yes, and usually we do this: when *some* variable names can't be mapped they're shown as "optimized away". When *all* variable names can't be mapped, the scopes panel shows the generated names with a warning that it couldn't map them to the original names.
But in this case the frames that we

[2022-04-28 10:19] hbenl commented on #6512
Duplicate of #6255

[2022-04-28 10:19] #6512 closed

[2022-04-28 12:02] bvaughn commented on #6255
Should we move this issue to the backend then?

[2022-04-28 12:27] bvaughn commented on #6063
Now that https://github.com/RecordReplay/devtools/pull/6335 has landed, this is no longer blocked.

[2022-04-28 12:30] bvaughn commented on #6063
Looks like https://github.com/RecordReplay/devtools/pull/6335 fix this so I'm going to close it 😄

[2022-04-28 12:30] #6063 closed

[2022-04-28 12:48] bvaughn commented on #6365
Not familiar with our modals yet (looks like we have a few of them) but this seems like a good indicator that we should use something like a modal hook. 😄

I used this one in React DevTools and it was pretty handy:
https://github.com/facebook/react/blob/9f80a48ad464c9240ea7f9d3f37251559cf7fe7e/packages/react-devtools-shared/src/devtools/views/hooks.js#L203-L263

[2022-04-28 13:37] bvaughn commented on #6365
I held off from adding this hook but if we wanted to we could:
[code]

[2022-04-28 14:06] #6365 closed

[2022-04-28 14:07] markerikson commented on #6391
Given that I've gotten `gecko-dev` capturing data, we can mark this one as done.

[2022-04-28 14:07] #6391 closed

[2022-04-28 14:07] #6505 closed

[2022-04-28 14:08] #6498 closed

[2022-04-28 14:08] markerikson opened #6583 "Get Redux DevTools components showing in client UI"
Now that I have the Redux DevTools "page" logic being loaded into `gecko-dev` and capturing data as annotations, I need to get the actual RDT UI components rendering inside of our UI similar to the React DevTools.

I expect this to take a couple days, and this is a short sprint due to Reactathon travel, so I'm only going to aim for getting them showing.  I'll save getting actual data display behav

[2022-04-28 15:33] markerikson commented on #6583
Well... technically I just did this.  In like an hour.

So FINE we'll call this done and I'll add another story for "actually start trying to get data going through".

[2022-04-28 15:33] #6583 closed

[2022-04-28 15:35] markerikson opened #6585 "Productionize Redux DevTools loading"
We'll need several steps to make this ready for "real" usage:

- Needs to lazy-load the RDT components so we don't immediately add them to the bundle size
- Should probably be a new experimental feature
- Lots of testing with various Redux and non-Redux examples (Jotai, Zustand, NgRx, etc)
- Should tie theme behavior into the user's selected Replay theme
- Probably need to disable a bunch of behav

[2022-04-28 16:00] gideonred opened #6587 "Emit to Honeycomb the time period a user has stared at the initial loading bar."
We currently have devtools emit "kpi-time-to-view-replay" for the time period between a user hitting the "Save" button to when they get a Replay session with which they can interact.

Unfortunately this also included the upload screen a user would be staring at if they had slow internet.

A metric that only includes the time a user spent looking at the actual loading bar would be more actionable f

[2022-04-28 17:01] gideonred commented on #6587
@jaril could you look at this this sprint? It would help our KPI goals.

[2022-04-28 18:48] jcmorrow opened #6588 "The white screen of death"
Sorry for the no-replay, but I haven't been able to reliably repro this yet. Sometimes when I visit Replay I will just get a white screen, and I know others have run into this as well without diagnosing it. This time, I happened to have my network monitor open, and I saw 403's from auth0:

![CleanShot 2022-04-28 at 11 41 55](https://user-images.githubusercontent.com/5903784/165824735-d57a7447-4b7b

[2022-04-28 18:48] jcmorrow commented on #6588
@ryanjduffy I don't like assigning things to other people, but this feels like it would be in your wheelhouse?

[2022-04-28 20:47] jperl opened #6589 ":bug: on DevTools: Console filter tool tips are inaccurat..."
:bug: on DevTools: Console filter tool tips are inaccurate
• log into replay
• Navigate to <https://staging.app.replay.io/recording/airtable-playwright-test--6847ab82-8b0a-4dc2-af73-eb6bf14918e7?point=12331705040172899620536796682649667&amp;time=5072.277283660569&amp;hasFrames=true|Airtable: Playwright Test> or another replay
• Note the amount of Logs the filter tool tip displays
• Compare to the

[2022-04-28 22:00] jcmorrow opened #6590 "Soft Focus"
### Background

We currently support Focus Mode. Now, we *think* of focus mode as one thing, but in fact, it is two things: Focus mode tells the backend to load and unload particular regions of the recording using [Session.loadRegion](https://static.replay.io/protocol/tot/Session/#method-loadRegion) and [Session.unloadRegion](https://static.replay.io/protocol/tot/Session/#method-unloadRegion). Thi

[2022-04-28 23:47] jcmorrow opened #6591 "Restructure how we interact with and store results and errors from the Analysis API"
Problems that are hard to solve with our current state shape:

### Context for loading and reloading Analyses

- Right now, analyses don't always get re-run upon loading changes, when the loading/focus state transition from one state to another, sometimes that should trigger re-runs.
- This is probably not going to be *that* common of a requirement, because, for example, if an analysis gets run *o

[2022-04-29 03:02] jasonLaster commented on #6590
Love the branding!

re hit counts: what are your concerns with continuing to use `getHitCounts` as the default?

[2022-04-29 03:16] jcmorrow commented on #6590
Well, this just requires doing the work of allowing the endpoint to accept begin and end times. And that might end up being more involved than it sounds, because even after the recent position/location cache improvement, I don't think it's possible to say with certainty the hit counts in an arbitrary span without doing a full findAnalysisPoints of the bookend regions.

[2022-04-29 12:22] hbenl opened #6594 "Use the content hash when grouping identical sources"
Currently we consider sources to be identical if they have the same URL, but that may not always be the case, see RecordReplay/customer-support#69 and RecordReplay/devtools#3429.
RecordReplay/backend#5462 adds a content hash to `Debugger.newSource` events, this should be used in addition to the URL when grouping identical sources.

[2022-04-29 12:34] hbenl opened #6595 "Offer different sources with the same URL in the UI"
There may be multiple different sources with the same URL (see RecordReplay/customer-support#69, #3429 and #6594; this usually happens when the recorded app is running in a dev-server and the user changes a source file while recording), but our sources tree and the quick open modal currently only offer one source per URL.
If there are multiple different sources with the same URL, all of them shoul

[2022-04-29 13:06] bhackett1024 commented on #6547
Even if we have a backend bug here, I don't think that is an excuse for the devtools breaking entirely and turning the screen white.  The devtools should be resilient and able to deal with unexpected data from the backend more effectively.

[2022-04-29 13:34] bhackett1024 commented on #6547
Hmm, possibly, an assert function that doesn't throw seems like it would avoid a lot of problems like this and also allow the asserts in https://github.com/RecordReplay/devtools/pull/6596 to remain.  This would also I think make our assert() behave in about the same way as console.assert.  We would need to make sure that any assertion failures get reported to sentry, at least.

[2022-04-29 15:23] #6594 closed

[2022-04-29 17:33] jcmorrow commented on #6205
I really like this feature, it really tickles my nerd brain, but it's also an unnecessary improvement right now, especially after https://github.com/RecordReplay/devtools/commit/3804c0999f1d26c0741100081e1dd045f79969ae, which is like a simpler version of this (kind of, not really, but it achieves the desired effect). Anyways, gonna close for now, I think this will come up again some day 👍

[2022-04-29 17:33] #6205 closed

[2022-04-29 20:20] jperl opened #6600 ":bug: on Devtools: Unable to update team name Steps: • Cl..."
:bug: on Devtools: Unable to update team name
Steps:
• Click on gear icon for a team
• On the settings modal for the team, click on "Profile"
• In the input next to name, type in a different name from before
• Notice there is no update button to update the team name. When you click outside the modal or click the X icon the name does not update \- [Auto posted from QA Wolf Slack message](https://qa

[2022-04-29 21:23] loganfsmyth opened #6603 "Contrast on network monitor entries after selected one extremely bad"
<img width="709" alt="Screen Shot 2022-04-29 at 2 21 07 PM" src="https://user-images.githubusercontent.com/132260/166071019-80e0cb01-5ff1-43c4-90b8-589e478682a3.png">

[2022-04-29 21:55] #6515 closed

[2022-04-29 22:24] bhackett1024 opened #6604 "Other users portion of UI includes incorrect / duplicate users"
Replay with comment:

https://app.replay.io/recording/too-many-holgers--bb65ada5-b34b-4c55-b5c4-498c71984adc?point=55817191243831310695140287081088800&time=22030&hasFrames=false

[2022-04-29 22:29] bhackett1024 commented on #6547
Sorry to keep reopening this, but I just encountered this crash again with the changes from https://github.com/RecordReplay/devtools/pull/6597 in place.  The problem is that after the assertion fails _chooseSourceId returns an undefined source ID.  We hit another assertion failure "no preferred location found", and then updateLocation throws an exception because it is operating on an undefined loc

[2022-04-30 00:54] bvaughn commented on #6603
This regressed in #6534. I fixed it in #6605.

[2022-04-30 00:59] #6603 closed

[2022-04-30 01:49] loganfsmyth commented on #6603
thanks!

[2022-04-30 04:16] jasonLaster opened #6606 "API Key Settings should be dark theme friendly"
<img width="1096" alt="Screen Shot 2022-04-29 at 9 14 33 PM" src="https://user-images.githubusercontent.com/254562/166090176-ae8509b9-c857-495d-b730-862a31d2c764.png">

[2022-04-30 20:35] bvaughn commented on #6318
Huh. I am still unable to view my own replay ([this one](https://app.replay.io/recording/replay-react-devtools-inspection-error--76ade59a-b26e-48ba-b2f3-2b585a8c6833)). It loads a little but then shows an error dialog when I try to fast forward to view the bug I was reporting.

There was an error. Please try recording again.

Here is a Replay of _that_ error:
https://app.replay.io/recording/replay

[2022-04-30 20:39] bhackett1024 commented on #6318
It looks like we're having a backend problem specific to that replay, it's hitting https://github.com/RecordReplay/backend/issues/4387.  Can you try making sure your browser is up to date and creating a new replay?

[2022-05-01 23:10] bhackett1024 opened #6622 "Difficulty using player when parts of recording are unloaded"
When viewing a long replay and the entire thing isn't loaded, it's hard to use the video player to see what happened in the recording.

1. Playing through the recording stops at the end of the loaded region, even though all the graphics for the entire recording are available.
2. Clicking around on unloaded regions shows an "edit focus mode" dialog.  This dialog is unexpected and unnecessary unless

[2022-05-02 05:47] jperl opened #6625 ":bug: on DevTools: Warnings number no longer visible Step..."
:bug: on DevTools: Warnings number no longer visible
Steps to recreate:
• Log in to Replay
• Go to AirTable replay (<https://staging.app.replay.io/recording/airtable-playwright-test--6847ab82-8b0a-4dc2-af73-eb6bf14918e7?point=12331705040172899620536796682649667&amp;time=5072.277283660569&amp;hasFrames=true|https://staging.app.replay.io/recording/airtable-playwright-test--6847ab82-8b0a-4dc2-af[…]99

[2022-05-02 13:33] bvaughn commented on #6318
@bhackett1024 Roger that. Running the latest Replay locally and recorded this one:
https://app.replay.io/recording/replay-react-devtools-cant-inspect-certain-components--153f9b5f-04f3-4728-a2e0-3747448b38e2

[2022-05-02 14:03] bvaughn commented on #6318
Okay now that I'm able to inspect the Replay in question, it looks like this bug is just a silly one on the React DevTools side. It's calling `.remove()` on the LRU cache but there is no such function. Looking at the [LRU documentation](https://www.npmjs.com/package/lru-cache), it seems like the function it should be calling is `.delete()`.

[2022-05-02 14:25] sentry-io[bot] opened #6630 "TypeError: Cannot read properties of null (reading 'sourceId')"
Sentry Issue: [DEVTOOLS-285](https://sentry.io/organizations/replay/issues/3242938175/?referrer=github_integration)

[code]

[2022-05-02 14:25] sentry-io[bot] opened #6631 "TypeError: Cannot read properties of null (reading 'loading')"
Sentry Issue: [DEVTOOLS-284](https://sentry.io/organizations/replay/issues/3242898845/?referrer=github_integration)

[code]

[2022-05-02 14:25] sentry-io[bot] opened #6632 "TypeError: can't access property "sourceId", t is null"
Sentry Issue: [DEVTOOLS-282](https://sentry.io/organizations/replay/issues/3242802103/?referrer=github_integration)

[code]

[2022-05-02 14:28] #6630 closed

[2022-05-02 14:28] #6632 closed

[2022-05-02 14:45] hbenl commented on #6548
The breakpoint timeline click is handled correctly: you clicked on the logpoint that you were already paused at.
The real issue is that the UI didn't show any frames or scopes for the current (initial) pause. This happened because when we try to create the pause, that region hasn't been loaded yet, so the `Session.createPause` command fails, hence `Pause.createWaiter` is rejected and `Pause.getFra

[2022-05-02 15:37] hbenl opened #6634 "Sort comments"
The 2 comments on [this recording](https://app.replay.io/recording/step-over-fail--4fc68349-5f89-49fb-b086-99f47c69abc1) are shown in the wrong order: the comment that is shown first is the second in the recording's timeline and is also the second I entered.
In [this recording](https://app.replay.io/recording/view-long-replay--1afe2dc1-646f-4403-941c-5f68c5e8e11a) the last 2 comments were entered

[2022-05-02 16:05] bvaughn commented on #6318
Fixed with upstream PR: https://github.com/facebook/react/pull/24477

[2022-05-02 18:54] jasonLaster opened #6637 "Add login button to "Permission screen""
![image](https://user-images.githubusercontent.com/254562/166307708-d1597ccf-c10f-4d22-959c-ba7731c9df15.png)

[2022-05-02 21:27] jonbell-lot23 opened #6639 "Finish unicorn console"
Jaril stuff:
- [x] Positioning is broken
- [x] Height shift when going into edit mode
- [x] Blink in console on save
- [x] Make the circle dot less tall (make it equal to line of text)
- [x] Clicking directly on circle pops up palette

Jon stuff:
- [x] Jon to provide default colour icon thing
- [ ] Default image for clicking
- [x] Jon to pick the correct colours (yellow is dumb in light theme)
- [

[2022-05-03 04:14] jazzdan opened #6640 "Recordings for workspace are fetched twice when app loads"
I noticed that when we load the app we fetch all of the recordings for the workspace twice, see this replay https://app.replay.io/recording/workspace-recordings-are-fetched-twice--4bdb3c13-3e40-488c-8f4f-ba038d65e11d?point=19471113236572462048695161978881478&time=9169&hasFrames=false

(This Replay is private because it's a recording of our private workspace)

Can we reduce the number of times we m

[2022-05-03 04:29] jazzdan opened #6641 "Recording photos should be fetched in batch, not serial"
Currently when we load all of the recordings for a workspace we fetch:

1) Fetch all of the recordings for each workspace
2) For each recording, fetch each of the photos for that recording.

As demonstrated in [this replay](https://app.replay.io/recording/one-query-per-recording-for-pictures--dace8099-cf6b-4ebb-81ca-639ccf3cd426) (which is private because it's a recording of the internal Replay wo

[2022-05-03 13:29] hbenl commented on #6644
The issue was that the generated CRA example contained absolute URLs, so it only worked on `localhost:8080`, but not on the Vercel preview URLs that we use in CI.

[2022-05-03 14:20] #6547 closed

[2022-05-03 15:11] #6644 closed

[2022-05-03 16:46] bvaughn commented on #6318
Fix has landed up stream. React DevTools release is currently blocked (see https://github.com/facebook/react/pull/24482#pullrequestreview-960623545) but since there's nothing more to be done on this side I'm going to close this issue.

[2022-05-03 16:46] #6318 closed

[2022-05-03 17:50] #6639 closed

[2022-05-03 18:18] jaril commented on #6382
Totally missed this!

It's just `created` ([docs](https://docs.github.com/en/search-github/searching-on-github/searching-issues-and-pull-requests#search-by-when-an-issue-or-pull-request-was-created-or-last-updated)), but yeah we do need to know how to parse greater/less than qualifiers as well!

[2022-05-03 23:29] ryanjduffy commented on #6588
Unfortunately, I missed the 3 day window for the log entries for this. Will keep an eye out for it but hoping someone else will catch it too

[2022-05-04 10:55] hbenl opened #6647 "Generate test fixtures from e2e tests when run with jest"
Follow-up to #6499

[2022-05-04 20:13] jperl opened #6652 ":bug: on DevTools: Messages and pointerup events not load..."
:bug: on DevTools: Messages and pointerup events not loading properly in console
• Navigate to <https://staging.app.replay.io/recording/great-scott--558693fb-ddcc-4798-bef5-14d1d47f4946?point=49002301604679427163477051738949771&amp;time=22599&amp;hasFrames=true|Great Scott> or another Replay
• Toggle on the message filter in the Worker category
• Note the message does not finish loading
• Toggle o

[2022-05-05 16:14] bvaughn commented on #6318
This fix will go out with the upcoming 4.24.5 release: https://github.com/facebook/react/pull/24503

Then we'll just need to upgrade to that version on our end.

[2022-05-05 18:09] bvaughn commented on #6318
Updated via #6653 so this should be good!

[2022-05-05 18:47] jperl opened #6654 ":bug: on DevTools: Receiving "Unexpected session error" w..."
:bug: on DevTools: Receiving "Unexpected session error" when trying to load some replays
• Attempt to load <https://staging.app.replay.io/recording/google-news-science-environment--addabc8f-b007-4eb2-9078-d5d7742d9d76|Google News - Science - Environment> replay
Expected: Replay to load
Actual: Received session error
NOTE: I was unable to capture this with Replay as I also received a session error

[2022-05-05 21:25] ceceliacreates opened #6655 "can't log values to the console, source map toggle disappeared"
**Description:**
This specific replay, starting yesterday afternoon the source map toggle disappeared and logging values to the console is "Loading" forever.

**Steps to Reproduce:**

**Expected Result:**

**Additional Context:**

* Screenshots:
* Video (Loom):
* Replay ([replay.io/record-bugs](https://replay.io/record-bugs) for instructions):
https://app.replay.io/recording/replay-cant-log-values

[2022-05-05 21:25] ceceliacreates commented on #6655
FYI @jcmorrow has a theory this is related to what he's working on this sprint.

[2022-05-05 22:22] gideonred commented on #6655
Looking at Protocol Command Failures, this recording is hitting a lot of "The session was destroyed while the command was in progress":

https://ui.honeycomb.io/replay/datasets/backend/result/aqMSqiqSpqJ

It also has a view Analysis Hanged:

https://ui.honeycomb.io/replay/datasets/backend/result/8G1PiFMGXQj

[2022-05-05 22:23] gideonred commented on #6655
@ceceliacreates how does your reported recording compare to another recording you mentioned: https://app.replay.io/recording/excalidraw-4625-resizing-to-close-to-0-widthheight-locks-up--3b5f5120-e0b3-4e6f-a44b-c164fa2db4f9 . Are they recordings of the same site/flow?

[2022-05-05 22:25] gideonred commented on #6655
O lol, I have it all wrong I just looked up the errors that the Replay of the Replay was running into. I believe https://app.replay.io/recording/replay-cant-log-values-to-console--473a0018-7479-424a-a14c-3db07f01ce71 is a Replay of https://app.replay.io/recording/excalidraw-4625-resizing-to-close-to-0-widthheight-locks-up--3b5f5120-e0b3-4e6f-a44b-c164fa2db4f9 .

Let me look into the issues that ht

[2022-05-05 22:28] gideonred commented on #6655
For https://app.replay.io/recording/excalidraw-4625-resizing-to-close-to-0-widthheight-locks-up--3b5f5120-e0b3-4e6f-a44b-c164fa2db4f9:

Seeing a lot of Protocol errors again with "The session was destroyed while the command was in progress":

https://ui.honeycomb.io/replay/datasets/backend/result/5NScjAmkrNN

And a bunch of AnalysisHanged:

https://ui.honeycomb.io/replay/datasets/backend/result/ks

[2022-05-05 22:34] gideonred commented on #6655
We've terminated over 53 EC2 instances in the last two days because of autoscaling
I'm very sure this is causing sessions to die on people
https://app.datadoghq.com/event/explorer?query=-source%3A%28users%20OR%20my_apps%20OR%20error_tracking%20OR%20watchdog%20OR%20amazon_sns%20OR%20incidents%20OR%20amazon_elasticache%20OR%20amazon_rds%20OR%20webhooks%20OR%20slack%20OR%20docker%20OR%20kubernetes%29

[2022-05-05 22:58] gideonred commented on #6655
I've created a ticket specific about EC2 terminations: https://github.com/RecordReplay/backend/issues/5512

[2022-05-05 23:15] gideonred commented on #6655
I'm looking at this specific moment in time where this recording faced a lot of Protocol errors within the same second:

https://ui.honeycomb.io/replay/datasets/backend/result/378rnWx8dPY

It definitely wasn't because of EC2 termination. Various reasons are stated in the above Honeycomb query, one of the suspects are: "The linker version used to make this recording does not support this action"

[2022-05-06 01:21] jonbell-lot23 commented on #5208
Going through UI polish tasks and adding comments:

I'd like to see us move this out of icebox. It's the sort of thing that we'll keep punting if don't make a concerted effort, and keyboard command are extremely important for people staying in flow.

[2022-05-06 01:22] jonbell-lot23 commented on #5848
Going through UI polish tasks and adding comments:

This is my number 1 ask on the design side, and has kicked around for nearly a year. I'd like to get this done, because it unlocks a lot of improvements to performance, onboarding, and general ease of use.

[2022-05-06 01:23] jonbell-lot23 commented on #6403
Going through UI polish tasks and adding comments:

This fell through the cracks, let's take it back up. It's an important issue to get right.

[2022-05-06 01:26] jonbell-lot23 commented on #6423
Going through UI polish tasks and adding comments:

Hey @jaril can we roll forward on this? I think we're in agreement about the high level thing I filed (once I fixed my typo), and then these other conversations sound like other issues we can spin up.

[2022-05-06 01:29] jonbell-lot23 commented on #6472
Going through UI polish tasks and adding comments:

Sounds like the best thing to do here is add a simple tooltip.

[2022-05-06 02:14] jonbell-lot23 commented on #6482
Hey @jaril I looked into this but wasn't able to fix it. Handing over to you.

[2022-05-06 02:39] jonbell-lot23 commented on #6472
I tried to do this and couldn't figure it out. Waiting for eng to pick it up.

[2022-05-06 15:11] #6634 closed

[2022-05-06 15:12] #6647 closed

[2022-05-06 15:20] bvaughn commented on #5606
@jonbell-lot23 I think you and I should chat about what the next steps should be fort his ticket now that PR #6534 has landed. Quick reminder of where things currently stand as of that PR: https://www.loom.com/share/f2366f55c10c4dd3a54b261b27726918

[2022-05-06 17:16] jcmorrow opened #6657 "Leaving a comment resulted in 2 million GraphQL queries?"
**Description:**
I'm not super clear on how this happened, but @ceceliacreates was giving a demo this morning and ended up querying GraphQL 2 million times in pretty short succession. The Honeycomb query is here: https://ui.honeycomb.io/replay/datasets/backend?query=%7B%22start_time%22%3A1651851299%2C%22end_time%22%3A1651852448%2C%22granularity%22%3A0%2C%22breakdowns%22%3A%5B%22method%22%2C%22mess

[2022-05-06 17:21] jcmorrow commented on #6657
I've left a few comments (including some on the recording mentioned above) and have not seen anything weird happening 🤷

[2022-05-06 17:29] jcmorrow opened #6658 "Infinite Sign-in loop"
I can't sign in to Replay. Every time I try it opens Chrome, looks like it successfully logs me in, and then lands back on the library screen without signing me in.

https://user-images.githubusercontent.com/5903784/167182544-6238e1ce-51f0-483f-9ba1-4fe66b26d543.mp4

@ryanjduffy assigning to you for now, but obviously feel free to redirect as appropriate!

[2022-05-06 17:33] ryanjduffy commented on #6658
Then why'd you fix it?!?!? ;)

[2022-05-06 19:53] jcmorrow commented on #6657
I've also created a Honeycomb alert for periods of activity like this.

[2022-05-06 20:52] jcmorrow opened #6659 "Interacting with hot analyses"
We tell the user to "Use focus mode to reduce the number of hits" when there is an analysis with too many points, but they can still use right and left arrows to jump between points, even though the warning is there. This is really weird, it feels like things should either be 100% working or 100% disabled, but this being partially enabled and partially disabled feels wrong.

https://user-images.gi

[2022-05-06 20:53] jcmorrow commented on #6659
https://app.replay.io/recording/partially-disabled-breakpoint--ddc66b3c-6f84-4c24-96a4-e56848db3da2?point=125588680283323097429934195444023296&time=43830&hasFrames=false#

[2022-05-06 21:19] bhackett1024 commented on #6565
I just created an experimental PR for this which goes with a couple other PRs:

* https://github.com/RecordReplay/backend/pull/5312 has backend changes to support persistent object IDs.
* https://github.com/RecordReplay/gecko-dev/pull/844 adds support to compute persistent object IDs within gecko and adds annotations at places where react calls into the backend.

The goal here is to be able to det

[2022-05-06 21:23] jcmorrow opened #6662 "If we are soft-focused and you try to move on the timeline nothing happens"
https://user-images.githubusercontent.com/5903784/167218136-8e92fdaf-7104-4715-8a4c-d0aeae69f8db.mp4

This is not entirely unexpected, and it's a pretty difficult state to get into right now, because we will always try to unload sections that are completely outside of the focus window right now (the one exception is when you have multiple sessions going). But once #6590 is done, we should double c

[2022-05-06 21:39] jonbell-lot23 commented on #6606
@jasonLaster what are you calling out here? Are there things that are black on black that we need to address, or is this a comment about the low contrast between the modal bicolour and the app bgcolor?

[2022-05-06 21:39] jonbell-lot23 commented on #5606
Sounds good @bvaughn -- also attaching this ticket: https://github.com/RecordReplay/devtools/issues/6622

Will grab you early next week

[2022-05-07 15:17] jasonLaster commented on #6606
Sorry for not being specific. The white API KEY input bg and pink warning message look like they are for light theme, but not dark theme.

[2022-05-07 23:24] jasonLaster opened #6664 "Show the unicorn in dark mode"
I think we're using `light-unicorn.svg` and missing a `dark-unicorn.svg`

[Replay](https://app.replay.io/recording/0e89578a-8e07-4784-93b7-d9e54e17a03d)

<img width="364" alt="Screen Shot 2022-05-07 at 8 50 40 AM" src="https://user-images.githubusercontent.com/254562/167275112-d71e9d75-1717-4d8e-818b-2715ea2b58bf.png">

[2022-05-08 00:38] bhackett1024 opened #6665 "Variables show as undefined on hover"
Replay with comments:

https://app.replay.io/recording/undefined-hover--bb361ffc-8530-4785-a0d7-88c67338287b?point=95083936234053482513670089570521000&time=33256&hasFrames=false

[2022-05-08 00:51] bhackett1024 commented on #6565
With the latest version of the PR, we're able to perform evaluations in the client that construct equivalent operations to what the embedded backend generated in a simple react app.  Here is a replay with a comment:

https://app.replay.io/recording/client-driven-backend--d6175557-c96c-433b-9327-e6eaf8d78102?point=31802818260780281134188576441892953&time=19168.845901639343&hasFrames=true

Here are

[2022-05-08 02:35] jasonLaster commented on #6665
This is a fun issue with how we build the symbols list in `getSymbols`

[2022-05-08 20:11] markerikson commented on #6106
Update, 2022-05-08:

We now have a "v0.5" implementation actually working!  The browser is correctly capturing Redux actions data from apps as Replay annotations.  (I initially didn't see this working on my machine, using an in-place update of the FF browser on Windows, but we have confirmed that fresh downloads of the browser work okay on both Win and Mac.)

The UI side currently just renders the

[2022-05-08 21:42] #6606 closed

[2022-05-09 04:20] jonbell-lot23 opened #6671 "Global loader 1.5"
We're updating our global loader!
[Link to design ticket](https://github.com/RecordReplay/design/issues/40)

**The problem we're trying to solve**
We handle buffering, loading, and indexing, and it can be hard to give people enough information without being overwhelming. This design attempts to be more clear (by using a literal progress indicator) without showing too much (we are calling everythin

[2022-05-09 04:37] #6664 closed

[2022-05-09 13:48] bvaughn commented on #6571
Just watched through the Loom. Looks like a great set of changes.

[2022-05-09 16:13] jasonLaster commented on #6364
I think we can safely close this

[2022-05-09 16:13] #6364 closed

[2022-05-09 16:17] bvaughn commented on #6540
What's the desired end goal here?

[2022-05-09 16:27] bvaughn opened #6672 "React "component stacks""
Details:
https://github.com/RecordReplay/devtools/discussions/5777#discussioncomment-2704093

[2022-05-09 16:44] markerikson opened #6673 "Fix circular imports in client"
Part of #6552 .

Our client codebase has a ton of circular imports ( `a` imports `b` imports (possibly indirectly through a dozen other files) `a`).  This is likely responsible for some of the "side effectful imports" problems we're seeing.

Untangling those imports is a good first step for cleaning things up.

I've previously added the Webpack `circular-dependencies-plugin` to `next.config.js`, w

[2022-05-09 16:47] markerikson opened #6674 "Redux DevTools UI ("v1")"
#6106 covered the initial implementation work for Redux DevTools support.  As of that issue, we now have `gecko-dev` capturing Redux actions as annotations, and a hacky implementation of UI support by actually rendering the real RDT UI components directly in our app.

For v1, we're going to take this in a different direction:

- We'll reuse the main RDT reducer logic, but in our Redux store
- Reus

[2022-05-09 16:47] markerikson commented on #6106
Given that we now have a "v0.5" implementation live, we're going to call this complete.

See #6674 for the follow-up work.

[2022-05-09 16:47] #6106 closed

[2022-05-09 16:59] jcmorrow commented on #6659
Will be fixed by https://github.com/RecordReplay/devtools/pull/6663

[2022-05-09 20:09] jonbell-lot23 commented on #6569
This shipped, closing

[2022-05-09 20:09] #6569 closed

[2022-05-09 20:42] jonbell-lot23 commented on #6571
Adding notes to discuss later:

* Zoom with scroll wheel?
* Click to drag window range

[2022-05-09 21:37] jperl opened #6679 ":bug: on DevTools: "Click" events not showing in Events t..."
:bug: on DevTools: "Click" events not showing in Events tab of a Replay, errors in console

steps to repro:
• log in
• go to <https://devtools-qi1f8k4o4-recordreplay.vercel.app/recording/sample-folder-visual-studio-code-insiders--99215af1-7f6f-4db2-84e4-7a2ea6142240?point=32127336818069823763437554336007621&amp;time=16223&amp;hasFrames=false|this> replay
• open events tab
• no Click events display

[2022-05-10 00:34] jasonLaster commented on #6678
@jonbell-lot23 where is the design?

[2022-05-10 00:35] #6482 closed

[2022-05-10 00:36] jcmorrow opened #6681 "Acknowledge when an analysis is taking a long time"
It's not uncommon for an analysis to just never return if it has a lot of hits:

https://app.replay.io/recording/why-wont-this-analysis-error--e4afd2e2-e3ab-4df1-b2bf-bcf97df30607?point=69122452082982376440253399919755264&time=47832&hasFrames=false

In this case, we should probably let the user know first:

Hey this is taking a long time, sorry, we're still grokking

and then:

This took so long w

[2022-05-10 01:32] jonbell-lot23 commented on #6678
Not necessary, these are code changes

[2022-05-10 02:41] jasonLaster commented on #6678
@jonbell-lot23 i guess, the general sentiment is that it would be nice to document our analysis/decisions both for others and posterity.

[2022-05-10 02:57] jonbell-lot23 commented on #6678
@jasonLaster Agree. In this case, the rationale and analysis is in the ticket description, with a link to the original Notion file. It's not something that requires an export from Figma.

[2022-05-10 04:23] #6500 closed

[2022-05-10 05:23] jasonLaster commented on #6678
Thanks. Looks good!

On Mon, May 9, 2022, 7:57 PM Jon Bell ***@***.***> wrote:

[2022-05-10 07:31] #6420 closed

[2022-05-10 11:53] jaril commented on #6423
Yeah this is ready to go!

@souporserious mind taking this on? Should be an easy win.

[2022-05-10 15:01] jasonLaster opened #6687 "Uploading sourcemaps"
We now show "Uploading sourcemaps" whenever loading a replay. Probably a recent regression

https://app.replay.io/recording/uploading-sourcemaps--304ee5c9-daed-4a9d-9423-d0b67a79ff49?point=35048003797110607064337035923817620&time=13416&hasFrames=false

[2022-05-10 15:08] jasonLaster opened #6688 "Dark Theme Unicorn"
<img width="339" alt="Screen Shot 2022-05-10 at 8 05 03 AM" src="https://user-images.githubusercontent.com/254562/167660733-03295d67-dc03-47fb-ac61-70e7dedb6c04.png">

[2022-05-10 15:09] jasonLaster commented on #6688
Down the line we might also want a lower contrast unicorn for dark theme, but that is a project for another day

https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-Design-Doc?node-id=12008%3A76115

[2022-05-10 16:09] #6585 closed

[2022-05-10 17:23] #6687 closed

[2022-05-10 20:40] jasonLaster opened #6692 "The Network Monitor type filters should look like the console filters"
We currently show the net monitor types as a dropdown, but we should probably show it as a sidebar similar to the console.

The biggest issue here is that the dropdown flips between going up/down based on height.

<img width="309" alt="Screen Shot 2022-05-10 at 1 38 50 PM" src="https://user-images.githubusercontent.com/254562/167717945-81ac966f-4246-429f-a1f6-fee45614b1ef.png">

[2022-05-10 20:43] jonbell-lot23 opened #6693 "Clean up unicorn console code"
In [this PR](https://github.com/RecordReplay/devtools/pull/6670) @jcmorrow had some suggestions that Jon wasn't able to figure out. This is a separate ticket to handle them ->

DARK_PREFIX_COLORS and PREFIX_COLORS are no longer used because we're using CSS instead. This means PrefixBadge.jsx needs to be updated to address that change.

[2022-05-10 20:43] jonbell-lot23 commented on #6693
Sorry for the lame issue assignment @jcmorrow 😅

[2022-05-10 21:03] #6540 closed

[2022-05-10 23:06] ryanjduffy commented on #6640
I think this is the polling that is configured for this query. Every 5 seconds we refetch the workspace recordings. Agree that it's not ideal for large workspaces so we should plan to get either subscriptions or pagination in place before we have a large adoption of automate test recordings.

[2022-05-10 23:06] #6640 closed

[2022-05-11 02:09] #6679 closed

[2022-05-11 02:44] jcmorrow opened #6698 "Print statement disappearing"
@jonbell-lot23 and I just had the experience of a Print Statement disappearing when changed to a Primitive Value.

Replay: https://app.replay.io/recording/consolelogs-disappearing-when-edited--95644baf-99e7-4ff8-9658-548e00c736ae?point=8762000949961048582013352891384201&time=3426&hasFrames=false

[2022-05-11 02:46] markerikson commented on #6698
This sounds like it's https://github.com/RecordReplay/devtools/pull/6686 - we should just merge that PR

[2022-05-11 02:59] jonbell-lot23 commented on #6698
I checked back on the file, and the print statement did eventually end up in the console, for what it's worth.

So it was slow (and lacking a loading message) rather than being straight-up broken.

[2022-05-11 03:21] jcmorrow commented on #6546
So this is an interesting one. I'm curious what others think we should do here. Here's how the current logic is flawed:

- When the user clicks on the timeline, we know the timestamp of that click, but we don't immediately have a `point` to accompany it. Instead, we look backwards in time at our most recent paint or mouse event. Then (I think this is how it works) we create a pause at that point a

[2022-05-11 03:27] jcmorrow commented on #6698
Closing since it's a duplicate of https://github.com/RecordReplay/customer-support/issues/87

[2022-05-11 03:27] #6698 closed

[2022-05-11 03:37] markerikson commented on #6546
Hmm. I actually did something _sorta_ like this, once upon a time.

In our case: we had a pseudo-VCR-type UI, with "Play/Pause/FF/Rewind" buttons for animating a sequence of highlighting points along a polyline on a globe, with a delay of 3-ish seconds per point.  What this was actually showing was "Line of Sight for each point, in turn".  Showing LOS for a point required a 2-3 second calculation

[2022-05-11 03:46] jcmorrow commented on #6546
We have pretty good cache management when it comes to fetching the paints. I think the core problem is that we don't know what point to request a paint for until that part of the recording has loaded.

[2022-05-11 03:47] jcmorrow commented on #6546
If, for instance, the whole recording were loaded, we have `prefetchScreenshots` which will do basically what you just described above.

[2022-05-11 03:47] markerikson commented on #6546
Ah. as in, we literally don't get any of the `"1234567890"`-type point strings until that region is loaded and available?

That... does make it trickier :)

[2022-05-11 03:47] jcmorrow commented on #6546
Exactly, those come attached to resources that we find in the recording (like paint events or mouse events).

[2022-05-11 03:51] jcmorrow commented on #6546
Huh... if we only somebody had done some work a few months ago to make sure that of the basic processing resources paints would come back the fastest 🤦  I swear 3 months is like a year in Replay time. Anyways, that's probably a better solution, let's stop using `repaintGraphics` when we haven't even loaded the recording yet, and instead call `precacheScreenshots` starting at the point the user ask

[2022-05-11 04:20] jcmorrow commented on #6546
Yeah, so looking through at least the recording up top, the problem is that we just don't have the paints for that late in the recording yet, and so instead we show the latest ones that we have. Even though we are trying to get them as fast as possible, they just haven't come in yet in this case.

[2022-05-11 04:25] jcmorrow commented on #6546
I think a reasonable thing to do would be to not render a super old screenshot, and instead wait until we have paints for that point in the video. I could see a slick thing being something like:

If we are rendering a previous paint point, apply a blur filter that is proportional to how far away it is from the current time, and then update as we get closer, so it's clear that the video is catching

[2022-05-11 10:17] sentry-io[bot] opened #6700 "Error: not all sources have been loaded yet"
Sentry Issue: [DEVTOOLS-298](https://sentry.io/organizations/replay/issues/3264738598/?referrer=github_integration)

[code]

[2022-05-11 13:15] bvaughn commented on #6571
PR #6685 just landed with most of the 1.1 features!

No context menu features yet (since they're still pending). Play with it and let's talk about tweaks?

[2022-05-11 13:20] sentry-io[bot] opened #6703 "Error: OI items for the same path must have the same type"
Sentry Issue: [DEVTOOLS-28K](https://sentry.io/organizations/replay/issues/3253273945/?referrer=github_integration)

[code]

[2022-05-11 13:34] Andarist opened #6704 "Try to pick best quote type to avoid quote escaping in an evaluated string"
evaluated strings in the console are always double-quoted and thus double quotes are being always escaped - this is super annoying to me as I copy-paste those results and share them with people, and ofc those `\"` are hurting readability

Chrome's console tries to avoid escaping and selects the wrapping quote type to do so, its default is a single quote, but if we put a single quote in the string

[2022-05-11 13:53] jaril commented on #4289
@bvaughn With the new timeline, mind checking if this still applies??

[2022-05-11 13:55] jaril commented on #6437
@souporserious i'm sticking it in the next sprint for you just so we have a reminder to look at it then and prioritize accordingly. Not a todo yet!

[2022-05-11 13:56] jaril commented on #6431
@jasonLaster got repro steps??

[2022-05-11 14:12] jaril commented on #6341
Closed in favor of #5769.

[2022-05-11 14:14] jaril commented on #3827
Closed in favor of #3827.

[2022-05-11 14:14] #3827 closed

[2022-05-11 14:15] jaril commented on #6390
I've not seen this happen again. Closing this for now and re-opening if we do happen to see it in the wild!

[2022-05-11 14:15] #6390 closed

[2022-05-11 14:16] jaril commented on #6019
@ryanjduffy What's your gauge on urgency for this issue? I don't have much context so can't say if this is super important to figure out soon, or is a nice to have that can be iceboxed, or somewhere in between.

[2022-05-11 14:19] jaril commented on #5606
@jonbell-lot23 @bvaughn did you guys end up catching up on this this week yet?

[2022-05-11 14:21] #6341 closed

[2022-05-11 14:30] bvaughn commented on #4289
Don't think my timeline work would have impacted this?

[2022-05-11 14:30] jasonLaster opened #6706 "Focus Window modal 🔫"
https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-Design-Doc?node-id=12025%3A76141
https://www.loom.com/share/33bbeae6bdcf4e448a1ce33e384a7f81

[2022-05-11 15:12] #6703 closed

[2022-05-11 15:57] ryanjduffy commented on #6019
Dropping it into next sprint. Small enough that I'd rather get it done than continue to punt it out.

[2022-05-11 16:04] bvaughn commented on #6571
@jonbell-lot23 In the issue description, where it says "Pending design ticket here", it's just a link back to this issue 😄

[2022-05-11 16:04] bvaughn commented on #6706
Eagerly claiming this one because I'm excited to work on it once @jonbell-lot23 signs off :)

[2022-05-11 16:09] markerikson commented on #6219
They do seem to be mostly stable these days.

Not sure how _immediately_ critical it is, but it would be nice to have this.

[2022-05-11 16:09] markerikson commented on #6370
I saw this message yesterday with something that Josh had linked in an issue, but I don't know if it was supposed to be public in the first place.

[2022-05-11 17:04] jcmorrow opened #6710 "Don't request repainted graphics when the recording has no graphics"
![CleanShot 2022-05-11 at 10 03 12](https://user-images.githubusercontent.com/5903784/167906753-59f88e7a-9c5d-4d93-a319-79a55485d6b2.png)

[2022-05-11 17:25] jasonLaster commented on #4289
Yep - this is different

@hbenl added this to the next sprint. Feel free to punt, but feels like an important "broken glass" issue that we should fix on the backend.

[2022-05-11 18:24] jcmorrow commented on #6546
Also similarly, the events that are coming in on the left bar are all from the beginning of the recording, even though the client says it's trying to load the last minute.

[2022-05-11 18:27] jcmorrow commented on #6546
@bhackett1024 I'm curious what your opinion is here. Let's say that you knew when loading the recording that kicked off this issue that we only had paint data for 22 seconds into the recording, when you clicked at the 35 second mark, what would you have preferred to happen? Do you think you would have been less surprised if we had moved the timeline forward but not shown any graphics?

[2022-05-11 18:28] jcmorrow commented on #6546
It's pretty easy to make the change of "Don't show graphics if the user is past the end of the currently loaded paints and we are still getting paints in from the backend", so I'm happy to make that change, but I want to make sure we all agree that would be an improvement.

[2022-05-11 18:37] loganfsmyth opened #6712 "Netmonitor attempts to render "multipart/form-data" request bodies even though they may contain binary data"
The "Request" tab in the netmonitor tries to render request bodies as text if it can, but it appears to also try to do so for `multipart/form-data` bodies. That can work some of the time, but since these responses may contain binary data, it's probably a bad idea unless we explicitly parse the parts out and only show text if it looks like text.

Here's an example recording: https://app.replay.io/r

[2022-05-11 18:53] jcmorrow commented on #6546
Actually, just spelunking through some comments, I see this:

https://github.com/RecordReplay/devtools/commit/1490cfce3f365852757d4e9078fd7e68fe0ad3ef#diff-0b3b6041213ad0d8eec8fbfb5111600076ab4ab1178b839e802d76a4e8e44689R193-R197

[code]

So it seems like we have known that this could cause some bugs for a long time (I'm actually surprised I didn't realize how problematic our seek behavior was bef

[2022-05-11 19:03] jonbell-lot23 commented on #6706
Yup @jasonLaster @bvaughn now that we've graduated to having proper save/cancel buttons, clearly this is The Right Answer.

There may be some gotchas but yeah, let's gooooo

[2022-05-11 19:05] jcmorrow commented on #6546
https://www.loom.com/share/fcdfddf52a43464dae6e864634692e94

[2022-05-11 19:06] jonbell-lot23 commented on #6706
I see the Loom mentioned asking for feedback around designing the thing. We do need the new icon in there, but otherwise this feels like what I would do.

I'd also dim the upper region the slightest little bit, like 5%, because it still is a mode, and it's good to visually announce when you're between different modes. 5% dim should do it.

[2022-05-11 19:10] sentry-io[bot] opened #6715 "TypeError: can't access property "frame", c[0] is undefined"
Sentry Issue: [DEVTOOLS-29B](https://sentry.io/organizations/replay/issues/3266080313/?referrer=github_integration)

[code]

[2022-05-11 19:12] ceceliacreates opened #6716 "Can't type in search full text input"
Search full text is broken for me. I tried it in a newer replay too (the one below is older) and had the same issue.

Replay: https://app.replay.io/recording/replay-cant-type-in-search-full-text-input--a207b7f1-b383-479a-8534-82d38ec9bcf6
Loom: https://www.loom.com/share/315ff868d92e4e449f8be2e58892fcc8

[2022-05-11 19:24] markerikson commented on #6716
Yep, this is my fault from merging #6696 . Apparently I need to make sure more of the action creators get exported.  Fixing!

[2022-05-11 19:29] jasonLaster commented on #6706
@jonbell-lot23 could you help w/ the visuals here?

[2022-05-11 19:32] jasonLaster commented on #6546
@jcmorrow yep i think this is related to https://github.com/RecordReplay/devtools/issues/4289 which i just moved into next sprint.

[2022-05-11 19:44] #6716 closed

[2022-05-11 20:12] jcmorrow commented on #4289
💯

This would be useful in general as well, not just for this problem.

[2022-05-11 20:15] bvaughn commented on #6706
Happy to pick this up and run with it at any point btw. (Happy to make up visuals as I go for v1)

[2022-05-11 20:18] jcmorrow commented on #6712
If we had a good "does this look like text?" test we could use that elsewhere too. Some random response types like `application/octet-stream` very well *may* be text, but it's really up to the program interpretting them to peek and decide whether or not to say "Eh, close enough to text".

[2022-05-11 20:19] jcmorrow commented on #6712
For instance, I believe socket.io will sometimes send `application/octet-stream` where the first couple of bytes are used like bitflags to signal some stuff, and then the rest of the response is just plain text.

[2022-05-11 20:24] jcmorrow commented on #6712
oh, we do this wrong because I'm an idiot, sorry. We are interpreting the request body based on the response body header 🤦

[2022-05-11 20:52] bvaughn opened #6720 "Comment ordering"
Comments should be sorted by their time/point (relative to the recording timeline) but they seem to be sorted by the order they are authored in.

Loom: https://www.loom.com/share/859f60155ba744e8b566fe67a54043dc

Replay: https://app.replay.io/recording/timeline-comments-out-of-order--a3950982-c932-4860-acd9-9f49008b1f29

[2022-05-11 21:46] #6712 closed

[2022-05-11 22:07] Andarist commented on #6720
Hmm, this is actually interesting to me - I've been commenting on this in the past. Maybe the proposed approach is better but I wonder if it's the ideal one. Comments could "form a story" but that is not always progressing in the same way as the timeline. It's another timeline. Of course, maybe that's not the use case worth implementing but at times I've wished that I could reorder comments.

[2022-05-11 22:08] Andarist commented on #6710
I might be responsible for a good chunk of those 🤣 node recordings ftw 🚀

[2022-05-11 22:12] jcmorrow commented on #6710
Haha, I can neither confirm nor deny the email address under that black box 😉

[2022-05-11 22:14] souporserious opened #6723 "Commenting UX for unauthenticated users"
**Description:**
Right now when filling out a comment and not being signed in yet we destroy the state when coming back. A couple of things that would be nice here:

1. We store the input state in local storage and clear it upon submission.
2. We return the user to the same active comment rather than the first comment.

**Steps to Reproduce:**
1. Type a reply comment.
2. Refresh the screen or sign

[2022-05-11 22:16] Andarist commented on #6710
Ah, so it's **all** me 😅

[2022-05-11 23:23] bvaughn commented on #6720
User re-orderable comments also seems like a nice feature 👍🏼

[2022-05-11 23:37] bvaughn commented on #6706
I'm going to take a pass at this. Don't need final graphics/visuals yet. Can get the basic stuff in place with what we have in the Figma :)

[2022-05-12 04:56] jonbell-lot23 commented on #3827
@jaril this link goes to itself.

[2022-05-12 09:40] #6700 closed

[2022-05-12 11:19] hbenl commented on #5533
#6726 reenables the existing test, it already tests showing the props of the selected node and highlighting. It should be updated to also test the node picker and what happens when seeking to the beginning of the recording.

[2022-05-12 12:15] hbenl commented on #6486
This was probably fixed by RecordReplay/gecko-dev#848, could you recheck?

[2022-05-12 12:33] bhackett1024 commented on #6565
The backend and gecko changes are in place now for computing persistent IDs for "new" objects like React fibers when using the "enablePersistentIDs" experimental setting, and annotations for places where calls are made into the react devtools from react itself are being added to recordings made with the latest browser.

This is as far as I can reasonably take things for now.  As a next step, someo

[2022-05-12 13:46] hbenl commented on #6720
This was caused by #6728: comments are ordered by `point` and all comments received the same `point` because it was never updated by a Timeline click. This became more confusing due to #4289: the Timeline is actually lying to the user because it uses a `time` that can be different from the `time` that corresponds to the current `point`.

[2022-05-12 13:46] #6720 closed

[2022-05-12 13:56] hbenl opened #6730 "Fix wait-for-vercel-preview"
Currently our e2e tests often fail in CI because the wait-for-vercel-preview action fails. It seems that this is not caused by a timeout that's too short because I and others have observed it failing *after* the preview branch was deployed.

[2022-05-12 14:18] jaril commented on #6219
Gonna icebox _for now_ but will bring the idea up periodically so it doesn't start collecting cobwebs!

[2022-05-12 14:19] hbenl commented on #6710
Repainting was disabled for node recordings in #6559. In Honeycomb I see these errors only for gecko recordings that are more than a year old (probably before repainting was implemented). In newer recordings I only see repaint failures with different error messages ("Failed to perform command", "This part of the recording has been unloaded", "Painted graphics are not available at this point").

[2022-05-12 14:19] #6710 closed

[2022-05-12 14:42] jaril commented on #6671
Linking https://github.com/RecordReplay/devtools/pull/6725 since that seems to be related.

[2022-05-12 14:44] jaril commented on #6659
#6663 was merged so I'm assuming this can be closed. Let me know otherwise @jcmorrow !

[2022-05-12 14:44] #6659 closed

[2022-05-12 14:46] jaril commented on #6658
Can't replicate for now. Might be a super super edge case?

@ryanjduffy I can keep an eye on it but also would like to close this unless it's actionable/we see another incident. Marking this off as a self-destructing issue if we don't hear any related activity in after a week.

[2022-05-12 14:47] jaril commented on #6652
Adding it to my list to triage and know whether we can close it or fix it.

[2022-05-12 14:49] jaril commented on #6641
This sounds like something nice for somebody to pick up this month. It's already assigned to this sprint, so leaving it unassigned for now so we can discuss quickly at standup to see if anybody's up for it.

[2022-05-12 14:52] jaril commented on #6637
This has been brought up a bunch of times before. There's no escape hatch from the no-permissions error.

I used to hand-wave it away because it seems like the kind of problem that would only happen to internal folks, because we may use more than one email for replay. But recently we've also heard this feedback from other users. Turns out signing in with the wrong account is a common problem for a

[2022-05-12 14:52] jaril commented on #6625
To triage.

[2022-05-12 14:53] jaril commented on #6604
To triage.

[2022-05-12 14:56] jaril commented on #6595
@jonbell-lot23 I think this'll come across your radar already but just in case!

[2022-05-12 15:00] jaril commented on #6591
@jcmorrow I thought this might be related to https://github.com/RecordReplay/devtools/pull/6663 but looks different enough.

Do you still feel like getting around to this in May?

[2022-05-12 15:03] jaril commented on #6588
🙋‍♂️ keeping an eye on it as well.

[2022-05-12 15:30] jaril commented on #6622
Linking https://github.com/RecordReplay/devtools/issues/6622 here since it's somewhat related.

[2022-05-12 15:44] markerikson opened #6733 "Restructure ThreadFront imports"
Part of #6552 for cleaning up side effectful imports.

We frequently import `ThreadFront` across the codebase, and that file in turn imports things like `socket`.  Because this is a singleton, it causes some screwy import sequences.  We should find ways to clean up and minimize direct imports of `ThreadFront`, including injecting it into `extraThunkArgs`.

[2022-05-12 15:45] souporserious opened #6734 "Spike initial Figma icon script"
Get a quick Node script going for sourcing icons from Figma into `packages/icons`.

[2022-05-12 16:01] #6706 closed

[2022-05-12 16:02] hbenl commented on #6730
This may be a timeout issue after all: the action waits for `check_interval` seconds after every (including the last) check and we set `check_interval` to 60. So the action can fail up to one minute after Vercel deployed because its last check was one minute earlier!

[2022-05-12 16:11] bvaughn opened #6735 "Focus Mode 1.2"
Build on top of #6571

- [x] Implement design in https://github.com/RecordReplay/design/issues/46, [Figma](https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-Design-Doc?node-id=12220%3A92306)
- [x] ~~Jon reaching out to @souporserious to learn how to do the cool auto-sync icon thing~~

[2022-05-12 16:13] souporserious opened #6736 "Initial design system components and documentation"
Initial implementation for our internal design system components for devtools development.

- [x] https://github.com/RecordReplay/devtools/pull/6817

TODO: update with additional respective issues

[2022-05-12 16:52] gideonred commented on #4289
This might be fixed in https://github.com/RecordReplay/backend/pull/5565.

[2022-05-12 16:57] jonbell-lot23 commented on #6735
I have some items to add when I'm awake

[2022-05-12 19:54] jonbell-lot23 commented on #6622
@jaril I think you linked this issue to itself

[2022-05-12 21:45] gideonred commented on #6587
This should have both a metric for when we do "warm starts" (when a user is waiting for the loading of a recording right after they finished recording) and for "cold starts" (when a user clicks on a recording in the library). Also, emit two different metrics for each.

[2022-05-12 21:54] ryanjduffy commented on #6658
yup. :+1:

[2022-05-12 22:07] jonbell-lot23 commented on #6622
Here's where the design thinking is happening -> https://github.com/RecordReplay/design/issues/52

[2022-05-12 22:07] jonbell-lot23 commented on #5606
Here's where the design thinking is happening -> https://github.com/RecordReplay/design/issues/52

[2022-05-12 22:50] jonbell-lot23 opened #6743 "Our video, layout, and picker icons shouldn't have a background highlight"
Loom: https://www.loom.com/share/53643932e2dd4d029eb79bdcb134dd20

See how the icon in the top right has a background colour? The icon itself should light up, but the background shouldn't. The reason this is happening is we're using the same component we use for other tabs. We need a new component that doesn't have the same hover effects.

<img width="532" alt="image" src="https://user-images.gith

[2022-05-12 22:52] jonbell-lot23 commented on #6743
Hi @souporserious ! This is another item I've had on my plate for a while (probably over six months!) but struggled to get working right in the code. Have a sec to take a look?

[2022-05-12 23:13] souporserious commented on #6743
Yeah, definitely! I'll get this cleaned up! ✨

[2022-05-13 00:05] bvaughn commented on #6671
Just wading into this and already it feels better 😄
![Kapture 2022-05-12 at 20 04 40](https://user-images.githubusercontent.com/29597/168186363-610ee76c-3607-4b74-8077-1418ea481df4.gif)

[2022-05-13 00:42] jonbell-lot23 commented on #6671
Oh gosh <3 Really looking forward to this!

[2022-05-13 01:02] jonbell-lot23 commented on #6595
Thanks @jaril ! So I understand the issue:

1. User edits stuff
2. So we end up with two URLs but we only show one

But I'm having trouble envisioning the location where we'd provide this option. Can someone jot down a quick description of where the option would go and how it could work?

[2022-05-13 07:21] jcmorrow opened #6748 "Playhead can go past the end of the timeline"
A Replay is worth a thousand words (but I left some comments anyways):
https://app.replay.io/recording/playhead-can-go-past-the-end-of-the-timeline--397dcb2e-cf68-49ea-bc8e-e85e65124795

<img width="566" alt="image" src="https://user-images.githubusercontent.com/15959269/169088444-7416be62-a3bf-4a86-962e-370c4dc5bbe4.png">

[2022-05-13 07:52] jonbell-lot23 commented on #6688
Fixed

[2022-05-13 07:52] #6688 closed

[2022-05-13 07:56] jonbell-lot23 commented on #6735
* I'm keeping an eye on dismiss versus cancel, and when to show a destructive action confirmation
* Also thinking about the color of the discard button. Might be best to make it white with red text, still thinking about it

But that's about it, to discuss later as we try it out more

[2022-05-13 09:15] hbenl commented on #6595
No, we end up with two different versions of a source with the same URL.
There are several ways we could offer them in our sources tree:
- the different versions of a source could be shown next to each other in the sources tree
- sources with multiple different versions could be expandable (like a folder) and show the versions as children
- a click on a source with multiple different versions coul

[2022-05-13 10:05] hbenl opened #6749 "Reenable React DevTools"
#6738 disabled fetching annotations if the user hasn't enabled *Redux* DevTools. But if we don't fetch any annotations, this also disables  *React* DevTools.

[2022-05-13 12:40] bvaughn commented on #6671
What does "slow" mean?

[2022-05-13 14:20] bvaughn commented on #6671
@jonbell-lot23 Where are these icons (the turtle, the cloud, even the radial loader) ?

This issue links to a design ticket (https://github.com/RecordReplay/design/issues/40) which links to a Figma but I'm not sure how to extract them– and they weren't included in the recent icon extraction script (#6746).

[2022-05-13 15:47] markerikson commented on #6749
Pasting my comment from Discord:

So in that sense it sounds like the code is working as expected, but we really need a way to separate these out ASAP. I suspect what we'll end up needing to do is 1) ask the backend if Redux annotations exist, 2) show the tab if they do, 3) only request Redux annotations once that tab is focused.

But, this really depends on having two (three?) updates to the back

[2022-05-13 15:49] markerikson commented on #6595
Pretty sure this is how Chrome does it, at least.  But the expandable file entry also sounds good.

[2022-05-13 16:05] markerikson commented on #6749
A couple additional thoughts for possibly improving behavior here:

- We could go back to always loading annotations, but start it on a delay (like _after_ the rest of the indexing/whatever data is loaded)
- The Redux annotations in particular can be large. We could consider gzipping them when we do the recording, and decompress on the client when they're received.

[2022-05-13 16:37] bvaughn commented on #6671
What does "slow" mean? Judging from the Figma mocks, it seems like we should only (and always) show the turtle icon on hover. Is this true? If not, what are the criteria for showing it?

I'm also a little unclear about what conditions we should show the error icon under. I will dig into that though.

[2022-05-13 17:02] #6734 closed

[2022-05-13 17:03] souporserious commented on #5741
Closed in #6742

[2022-05-13 18:02] bvaughn commented on #6671
Update: I am going to take a stab at what "error" and "slow" mean. I will explain the heuristics used on the PR and in a Loom. :)

[2022-05-13 20:43] jcmorrow commented on #6658
Sounds like we might have had this on a customer call @oliverdealb

[2022-05-13 21:05] jperl opened #6754 ":bug: on DevTools: Open React DevTools not available ste..."
:bug: on DevTools: Open React DevTools not available

steps to repro:
• open a replay
• view devtools
• react devtools not available
affected tests: <https://app.qawolf.com/test/cl1xt3zli27421950p9q7yhmnk1> \- [Auto posted from QA Wolf Slack message](https://qawolfhq.slack.com/archives/C02GEJCC9JP/p1652475905413099)

[2022-05-13 21:20] jperl opened #6756 ":bug: on DevTools: Sharing recording with link and email ..."
:bug: on DevTools: Sharing recording with link and email errors out

steps to repro:
• log in
• click "share" on a replays dropdown
• error page, errors in console
affected tests: <https://app.qawolf.com/test/ckw3yu4r8000o09l9ak4t99u9> \- [Auto posted from QA Wolf Slack message](https://qawolfhq.slack.com/archives/C02GEJCC9JP/p1652476819745089)

[2022-05-13 22:06] markerikson commented on #6754
Yep, known issue due to changes with how we're fetching annotations, and we're working on fixing this.

Refs: #6749 , #6753

[2022-05-14 04:01] jasonLaster commented on #6595
We should probably default to having the same behavior as chrome.

[2022-05-14 04:31] #6749 closed

[2022-05-14 15:00] bhackett1024 opened #6768 "Stuck frame progress slider"
I've run into an intermittent problem using the frame slider in the devtools where it gets stuck on --- moving the mouse around without holding it down or clicking moves the frame slider around as if the mouse was down.  I haven't gotten a replay yet, it doesn't seem to be easily triggered (I should start recording all the time when viewing replays).

[2022-05-14 15:17] bhackett1024 commented on #6768
https://user-images.githubusercontent.com/1062578/168432049-f36acfe8-5ccb-4b52-bed3-cd2b80c83017.mov

[2022-05-14 15:55] markerikson commented on #6768
Hmm. @bvaughn , is this maybe similar to the issues you saw with dragging the focus mode slider?

[2022-05-15 07:54] jonbell-lot23 commented on #6671
@bvaughn Sorry, I just saw these comments!

It's good to install SF Symbol -> https://developer.apple.com/design/human-interface-guidelines/sf-symbols/overview/
Then you can access those icons the font SF Pro.

I was thinking the turtle would be there when things get slow, not just on hover.

[2022-05-15 07:59] jonbell-lot23 commented on #6595
I have applied all my UX wisdom to determine that we should have the same behaviour as chrome. If you need more UX thinking, please include a screenshot of Chrome in this state for me to react to.

[2022-05-15 13:36] bvaughn commented on #6671
No worries. I figured out the font thing, and the turtle thing, a couple hours after asking.

[2022-05-15 16:54] jasonLaster opened #6770 "[Assert] should have been an originalId"
Here's a replay of a source map related assert i'm seeing in dev which might be interesting to investigate.
* [replay](https://app.replay.io/recording/should-have-been-an-originalid--eff01dd1-67e6-4b62-9145-30fd0d4b1814?point=115528605864914238382363912605547553&time=95711&hasFrames=true)
* [loom](https://www.loom.com/share/4017401c7b174040859a451ec5bae0e1)

[2022-05-16 00:20] jonbell-lot23 commented on #5741
Re-opening because we do need a few more things:

1. We need a keyboard shortcut for adding a comment from anywhere (Shift-C perhaps?)
2. We need to make sure the logic does the right thing based on where you are
3. We need to make sure it doesn't trigger when you're in a text region, which is an issue we had with Shift-T changing the theme

[2022-05-16 00:29] markerikson commented on #5741
Kinda-nitpick / observation:

Can we move away from `SHIFT-$LETTER` shortcuts?

At a minimum, `CTRL-` oughta be involved.  Although as I just was noticing from trying to use Github's "VS Code in a browser" implementation, you _do_ promptly start running into collisions with browser built-in shortcuts if you're not careful :)

[2022-05-16 02:01] jonbell-lot23 commented on #5741
* Some things are common enough that they should be just a letter, no modifier (like in Figma, or even just using arrows in the console)
* Some things are uncommon enough that you bury them under three modifier keys
* There are always issues around browser collisions, moreso when you use control
* Shift is a good middle ground
* But of course you also want to make sure you don't collide with stand

[2022-05-16 02:07] jonbell-lot23 commented on #5848
cc @souporserious

[2022-05-16 05:49] jperl opened #6772 "🐛 (possible) on DevTools: Filtering console by event ..."
:bug: (possible) on DevTools: Filtering console by event type does not yield any results.
Steps to repro:
1. Log in
2. Navigate to a replay
3. Open Dev tools
4. Attempt to filter by an event
Test used in example: <https://app.qawolf.com/test/ckz31hxq0108798750ki1azib03h?suite_id=cl369j5ne099353ouomgq5ebe|Filter console by event type (search) on user role> \- [Auto posted from QA Wolf Slack message

[2022-05-16 11:59] hbenl commented on #6770
This is another instance of RecordReplay/backend#1310.
Note that asserts do not crash replay in prod anymore (but you were looking at the recording in dev) and if the assert fails, the fallback sourceId is returned (as suggested in the loom).

[2022-05-16 11:59] #6770 closed

[2022-05-16 13:26] hbenl opened #6774 "Sporadic failures of console_async_eval e2e test"
console_async_eval fails sporadically because the `executeInConsole()` function from the test harness doesn't trigger an execution.
The reason is a typical `useState()` bug:
- we create a state variable `value`:
https://github.com/RecordReplay/devtools/blob/7707c393248900004fc5e9c3f073e1659f3f5064/src/devtools/client/webconsole/components/Input/JSTerm.tsx#L51
- then we set `executeRef.current` to

[2022-05-16 13:36] hbenl commented on #6730
It *was* a timeout issue.

[2022-05-16 13:36] #6730 closed

[2022-05-16 15:59] jasonLaster opened #6776 "Pressing Shift-C will nuke the existing comment"
https://app.replay.io/recording/shift-c-blows-away-comment--7861b28f-5b93-4700-9028-2e4934959d9f?point=37319633696907564500449217124237614&time=16140.991396244206&hasFrames=true

We have a mechanism for protecting other handlers which we should use here as well
https://cs.github.com/?scope=org%3ARecordReplay&scopeName=RecordReplay&q=isEditableElement

[2022-05-16 16:00] souporserious commented on #6776
Yikes, I'll get this fixed up this morning!

[2022-05-16 16:03] bvaughn opened #6777 "Replay crashes when viewing a recording"
https://app.replay.io/recording/replay-crashes-when-viewing-recording--56790160-a8d1-45f1-b030-3cdfa560c104

Saw this while trying to record [a Loom demo](https://www.loom.com/share/c4217f31400d4542a77fda8d19815b93) this morning.

[2022-05-16 16:16] bvaughn commented on #6768
Haven't looked at this code but my guess is that we're probably not exiting drag-active state on mouse-leave or something.

[2022-05-16 16:26] hbenl opened #6778 "Refactor JSTerm"
`src/devtools/client/webconsole/components/Input/JSTerm.tsx` has some issues:
- it's the cause of #6774
- it contains an unsafe side effect (see https://github.com/RecordReplay/devtools/pull/6775#pullrequestreview-974072746)
- it's really hard to understand how the hooks in the component work together

[2022-05-16 16:28] #6774 closed

[2022-05-16 17:20] #6776 closed

[2022-05-16 17:26] souporserious opened #6780 "open source icon wrong hover color in dark mode"
**Description:**
The event source icon hover color is the wrong color in dark mode.

**Steps to Reproduce:**
In dark mode, hover the event open source action to see it's the wrong color.

**Expected Result:**
Color should be corrected for dark mode.

* Screenshots:
* Video (Loom):
* Replay ([replay.io/record-bugs](https://replay.io/record-bugs) for instructions):

https://user-images.githubusercon

[2022-05-16 18:13] markerikson opened #6781 "Line text comparisons do not memoize correctly, causing perf issues"
@Andarist reported lag in the UI when debugging a giant TS compiler source file.

We initially thought this might be due to me tweaking some of the code in `getLineText` to remove a seemingly-unused argument, per [`06bfd4e` (#6722)](https://github.com/RecordReplay/devtools/pull/6722/commits/06bfd4e82ba195766a364ac28b56a70d1d179955) .

However, after investigation, I've concluded that we're really

[2022-05-16 18:22] souporserious opened #6782 "Spike initial NextJS site for writing examples"

[2022-05-16 19:32] loganfsmyth opened #6783 "Regression due to missing `ThreadFront` in `createSession` action dispatch"
Looks like this probably happened in https://github.com/RecordReplay/devtools/pull/6758

<img width="751" alt="Screen Shot 2022-05-16 at 12 28 19 PM" src="https://user-images.githubusercontent.com/132260/168667940-19a24ce5-64ab-4dd4-8da6-7869a64c53cb.png">
<img width="1322" alt="Screen Shot 2022-05-16 at 12 30 30 PM" src="https://user-images.githubusercontent.com/132260/168668031-7fd368ab-0948-4af

[2022-05-16 19:35] markerikson commented on #6783
Ah. I changed all thunks, and I'm injecting `ThreadFront` inside of `devtools.ts`, but I bet this one gets run _before_ the `devtools.ts` setup work happens.

[2022-05-16 19:44] #6783 closed

[2022-05-16 20:10] souporserious commented on #5741
@jonbell-lot23 question, when a comment is currently in-progress should we:

1. Move the comment to the new point in time / execution point and keep the inputted text?
2. Prevent adding a new comment and just focus the input at the original time / execution point?
3. Something else?

To me, it feels like I'd want to move to the new state and have a revert button for so many milliseconds that would

[2022-05-16 20:11] souporserious commented on #5848
@jaril assigning this to myself, I'll start taking a look at this since I'm in loading screen land!

[2022-05-16 20:12] bvaughn commented on #6671
Ball should be back in your court, @jonbell-lot23. Believe I landed all of the changes you enumerated on the PR and in Loom.

[2022-05-16 22:54] jcmorrow opened #6788 "It should be impossible for the login page to redirect to the login page"
I somehow just came back to a tab at this URL:

[code]

Notice, the `returnTo` URL is the URL I am already on, meaning a successful login will... successfully bring me back here. That should be an invalid URL to redirect to, and instead we should send the user somewhere else, probably the library/root.

[2022-05-16 23:56] #6788 closed

[2022-05-17 03:04] jcmorrow commented on #6588
Maybe I caught it? https://app.replay.io/recording/untitled--135705dc-5103-470b-a1b9-1b1287fb2bcc?point=11358149379168460902414346918821888&time=5740&hasFrames=false

[2022-05-17 04:02] jcmorrow opened #6793 "Typing in the console is really, really, really slow"
I don't know if this was something *else* slowing everything else down, or if it was typing in the console itself, but each of these warnings was a keystroke:

![CleanShot 2022-05-16 at 21 01 01](https://user-images.githubusercontent.com/5903784/168726154-fe7560b8-bb80-4dff-9d74-2f657c144bfc.png)

Replay was completely unresponsive for probably 30 seconds or so after I stopped typing.

[2022-05-17 04:06] markerikson commented on #6781
Merged the `WeakMap` cache in #6787 . I'll take one more look tomorrow and see if there's anything else I can improve there.

[2022-05-17 04:11] jcmorrow commented on #6793
When I tried to reproduce for a Replay, it was not nearly as slow, so I'm not sure what is special about the state of this tab. Anyways, here's a Chrome profile, because that's all I could get.

https://www.dropbox.com/s/e8vqjrk48y79jl9/slow%20key%20presses.json?dl=0

[2022-05-17 04:27] markerikson commented on #6793
@jcmorrow it's 12:25 AM EST.  Don't tempt me with puzzles like this.

Please.

Aw, drat...

*clicks download link*

[2022-05-17 04:44] markerikson commented on #6793
First observations:

- Wow, that is a whole lotta reflow or layout or something:

![image](https://user-images.githubusercontent.com/1128784/168729595-d17fa3c6-04e3-41bf-9082-b0e3d46dddec.png)

- I see a `t.componentDidUpdate` in there, followed by a `t.hydrate`.  I don't _think_ that's our code.  And yeah, after doing a set of searches through `node_modules`, I think that is actually `react-codem

[2022-05-17 05:02] ryanjduffy commented on #6588
It's definitely a bug but I don't think it's an auth issue like this reports. I've added some comments that describe why it's blowing up and will move it over to another ticket.

[2022-05-17 05:03] ryanjduffy opened #6794 "Need to handle indexed db errors from async-store-setup"
See comments in https://app.replay.io/recording/untitled--135705dc-5103-470b-a1b9-1b1287fb2bcc?point=11358149379168460902414346918821888&time=5740&hasFrames=false

[2022-05-17 05:03] ryanjduffy commented on #6794
Forked from #6588

[2022-05-17 08:29] jonbell-lot23 commented on #6671
@bvaughn Looking wonderful!

I've lost track in the hustle and bustle -- are we to the point where we can close this out?

[2022-05-17 08:45] jonbell-lot23 commented on #5741
Apologies @souporserious this comment slipped by me.

If I'm understanding correctly, this the flow we're asking about:

1. User starts writing a comment
2. User attempts to add a second comment

Am I understanding right? If so, I'd treat it like trying to hit command-S in a desktop app twice. The first time you're taken to a save dialog. The second time, nothing should happen. Modes are their own

[2022-05-17 11:24] bvaughn commented on #6671
Yup I think we can.

[2022-05-17 11:24] #6671 closed

[2022-05-17 13:38] jaril commented on #6382
Closed by https://github.com/RecordReplay/devtools/pull/6533

[2022-05-17 13:38] #6382 closed

[2022-05-17 13:45] jaril opened #6796 "Test-specific filtering"
The work on this will have frontend and backend changes. I'll track all the tasks here to keep it in one place:
- [x] Move recording filtering to the backend
  - [x] Support filtering with existing qualifiers (`created`, `target`) and plain search strings on the backend (https://github.com/RecordReplay/backend/pull/5604)
  - [x] Move filtering from frontend to backend (https://github.com/RecordRep

[2022-05-17 13:56] jaril commented on #6796
Moving this over to the ops issue https://github.com/RecordReplay/ops/issues/670

[2022-05-17 13:56] #6796 closed

[2022-05-17 13:59] bvaughn opened #6798 "Refactor context menu architecture"
We have multiple context menu implementations in our project now (see [Loom](https://www.loom.com/share/20ff940adcaa4c52bf457663b84a957b)). The [legacy one](https://github.com/RecordReplay/devtools/blob/master/src/devtools/shared/contextmenu.js) is very imperative and supports only a small set of display options (basically string label with optional image badge) and a [newer, declarative one](http

[2022-05-17 14:07] jaril commented on #6475
Closing this but linking it to the main roadmap item so that it's all in one place: https://github.com/RecordReplay/devtools/issues/6475

[2022-05-17 14:07] #6475 closed

[2022-05-17 14:11] jaril commented on #6589
Checked this on prod and seems to be a-ok

[2022-05-17 14:20] jaril commented on #6600
What's happening is that editing team names is only available for teams that are on an organization plan. Otherwise, the team name should auto update as you're typing.

I'll file a separate issue for this.

[2022-05-17 14:23] jaril opened #6799 "Disable editing a team name if the team is not an organization"
We have an edit team name feature that a user can access by going into team settings > profile, but it's only enabled for [organizations](https://github.com/RecordReplay/backend/blob/f5c4edac6fe15add730cc5828f956d2df05e6639/src/graphql-api/models.ts#L2205).

Right now, we have the same input box for the title regardless of whether or not the team is an organization. We should disable that input bo

[2022-05-17 14:23] jaril commented on #6600
Filed in https://github.com/RecordReplay/devtools/issues/6799.

[2022-05-17 14:28] gideonred opened #6800 "Improve UX for Debugger.getHitCounts - Too many generated locations to perform analysis."
When using the frontend our users are getting from the backend "Too many generated locations to perform analysis." when the frontend is running Debugger.getHitCounts.

BriahH gave a good description of the probable cause and possible UX improvement (Discord thread: https://discord.com/channels/779097926135054346/975867758719959061):

[code]

Josh agreed that frontend should consider giving the use

[2022-05-17 14:29] jaril commented on #6625
Tests are passing on prod. Closing

[2022-05-17 14:29] #6625 closed

[2022-05-17 14:43] #6248 closed

[2022-05-17 14:47] #6754 closed

[2022-05-17 14:55] jaril commented on #6756
![image](https://user-images.githubusercontent.com/15959269/168841997-648e897b-ffea-48bc-b4f3-e34849e442dd.png)

There was a problem in the SecurityWarnings component and it was throwing in the test's console.

I'll file a PR to add a guard for that component.

[2022-05-17 14:58] souporserious commented on #5741
Nope, this is perfect, thank you for clarifying! I'll get my PR wrapped up for this 😎

[2022-05-17 15:01] jaril commented on #6772
Currently being fixed by QA wolf since it's passing, just has a bad selector. This should be closed soon.

[2022-05-17 15:22] jaril commented on #6604
Left comments on the Replay:

<img width="618" alt="image" src="https://user-images.githubusercontent.com/15959269/168847935-5266e14d-8303-4686-93d7-3c11681dd50a.png">

[2022-05-17 15:32] gideonred opened #6802 "User was able to generate 2000 GetActiveSessions requests within a second"
This user generated 2000 GetActiveSessions requests within a second: https://ui.honeycomb.io/replay/datasets/backend/result/BbMGHeqjg23

I suspect a frontend bug?

[2022-05-17 15:52] gideonred commented on #6802
This wasn't just one user. It seems it's typical for our frontend to request GetActiveSessions a few hundred times per second for a session.

[2022-05-17 15:53] gideonred commented on #6604
Had a quick look, and I don't think https://github.com/RecordReplay/devtools/issues/6802 is related to this issue.

[2022-05-17 15:53] gideonred commented on #6604
Holger had 3 sessions die on him unexpectedly during this timeframe: https://ui.honeycomb.io/replay/datasets/backend/result/JaW81HVe5Ki

[2022-05-17 15:55] gideonred commented on #6604
Seems like he was running into some very strange errors during his session: https://ui.honeycomb.io/replay/datasets/backend/result/TFwyko94FC/a/xsuXLJav6ee

[2022-05-17 16:04] gideonred commented on #6604
(I deleted a whole bunch of unuseful comments, I misread the timeline of the issue)

[2022-05-17 16:53] jaril commented on #6604
user sorted comments couldn't come sooner 🥲

[2022-05-17 17:22] markerikson commented on #6798
Totally agree with moving this away from Redux.

FWIW I've done Redux-driven context menus before using a couple different approaches, and it's _doable_, but you also end up tying yourself into some restrictions (no functions as props, etc).  I really don't think we need anything like that here.

[2022-05-17 19:38] bvaughn commented on #6735
I think this bullet point should probably be tracked via a design ticket:
- [ ] Jon reaching out to @souporserious to learn how to do the cool auto-sync icon thing

[2022-05-17 19:41] bvaughn commented on #6486
Yup! This looks fixed. :)

[2022-05-17 19:50] jcmorrow commented on #6549
I'm fairly sure that this particular issue is solved now, I've stress-tested by creating a bunch of controllers and asking for analyses immediately, and they properly wait to be loaded. I think having everyone on turbo replays means we will not see this anymore, but if we do, let's make sure to catalogue and reopen!

[2022-05-17 20:05] jasonLaster opened #6809 "Fix Marko call stack framework groups"
relevant links
* [getLibraryFromUrl](https://github.com/RecordReplay/devtools/blob/7f6257c37a71e86039bb2a73246e4075d991d077/src/devtools/client/debugger/src/utils/pause/frames/getLibraryFromUrl.js)
* [getLibraryFromUrl.spec.js](https://cs.github.com/RecordReplay/gecko-dev/blob/a3b10c582462f5b986c3c6f22a128a7b00d01c35/devtools/client/debugger/src/utils/pause/frames/tests/getLibraryFromUrl.spec.js#L

[2022-05-17 20:05] jasonLaster commented on #6809
cc @mlrawlings

[2022-05-17 20:32] mlrawlings commented on #6809
Okay, quickly taking a look at the markojs.com website and I don't think the filenames in the sourcemap are providing enough information to properly collapse the group.  Here's a copied stack trace.

[code]

I'm not sure why we're not seeing the full paths in the stack, but even so, looking at the sourcemap, these are the urls that are being mapped to for Marko's runtime, so we probably need to up

[2022-05-17 20:38] jperl opened #6810 ":bug: on DevTools: User auth not persisting when loading ..."
:bug: on DevTools: User auth not persisting when loading a replay by share link
• Log in
• Note logged in status
• Enter URL for a replay
• Note no longer signed in
Affected Tests: <https://app.qawolf.com/test/ckxgq33mn000008l33ax8h1dc|Comment: create, edit, reply and delete>, <https://app.qawolf.com/test/ckwpn2uq4000009jz2vzz0rz0|Share replay via email and link, delete invitee>
<https://app.repla

[2022-05-17 20:51] markerikson opened #6811 "Consider adding an "Exclude `node_modules`" option to the Quick Open dialog"
Per `yeion7` on Discord:

My thoughts:

I'm actually legitimately not sure if the Quick Open panel's logic supports that right now (as in, I've looked at the code just enough to see that it has a lot of variations in search capability, but I don't know if it has any logic for doing exclusions by path).

It would probably be fairly simple to throw a similar checkbox into that dialog and a bit of fi

[2022-05-17 21:09] #6587 closed

[2022-05-17 21:33] jcmorrow opened #6812 "We should debounce evaluations that are likely to be unused"
We send multiple protocol requests for every single term that a user's cursor touches while at a pause in the editor. If they don't keep their cursor there for at least 50 or 100 milliseconds, it does not seem like we should kick off those protocol requests at all.

https://user-images.githubusercontent.com/5903784/168913498-15936516-acfd-46f1-9733-dfd7443f7cdc.mp4

We should also debounce eager e

[2022-05-17 21:38] jonbell-lot23 opened #6813 ""👋 This is where your replays will go!" should mention applied filters"
<img width="823" alt="image" src="https://user-images.githubusercontent.com/9154902/168914187-935a6390-9b83-4312-bc8b-9566f9a970c2.png">

"This is where your replays will go!" works when there are zero results, but now that we have a filter, it should change.

If no filter:
"👋 This is where your replays will go!"

If a filter is applied:
"No replays found. _Clear filter_"

That way people have a s

[2022-05-17 21:52] gideonred opened #6814 "Backend is getting protocol commands with missing pauseIds"
Here's a list of protocol commands that failed because devtools failed to include pauseIds:

https://ui.honeycomb.io/replay/datasets/backend/result/4JYBLFxVvDs

I believe this is a bug on the frontend side.

[2022-05-17 22:24] #6495 closed

[2022-05-17 22:26] souporserious commented on #6735
Oops my bad, I should have commented on this earlier. I'm going to do another pass on the icon script right now and then we should be good to get the set updated.

[2022-05-17 22:58] jasonLaster commented on #6809
Does this look good to you?

[code]

[2022-05-17 23:18] markerikson commented on #6793
Sort of related: it looks like `react-codemirror2` is using CodeMirror 5.x (as a peer dep)

https://github.com/scniro/react-codemirror2/blob/master/package.json#L56

and our own `package.json` currently lists `"codemirror": "^5.65.2",`.

Here's a post from Replit talking about the advantages of CodeMirror 6:

https://blog.replit.com/codemirror

Is it possible that upgrading CodeMirror itself might

[2022-05-17 23:21] markerikson commented on #6793
More research: CodeMirror 6 appears to not be 100% final yet, and there _is_ a bunch of migration changes because it's a rewrite: https://codemirror.net/6/docs/migration/

I do see https://github.com/tbjgolden/react-codemirror6 as a potential wrapper.

[2022-05-17 23:31] jaril commented on #6370
Left a comment in the [replay](https://app.replay.io/recording/replay-of-devtools-lwn0eipop-recordreplayvercelapp--0ce8885d-8740-45fa-95e5-ad507cfb4c74?point=16225927688513434523300555105763403&time=17935.777859103386&hasFrames=true). In short, it looks like we're getting undefined from [this query](https://github.com/RecordReplay/devtools/blob/425e5d83744a30217a52f493a88ffe58960b7c48/src/ui/hooks

[2022-05-17 23:31] #6370 closed

[2022-05-17 23:56] souporserious opened #6815 "More ways to initiate comments"
- Let's add a comment button into the header of the comments pane
- Let's add "Add comment" to the command palette. Maybe we don't know the shortcut just yet, we're still deciding if it should be shift-C

Follow-up from #6785

[2022-05-18 00:03] jasonLaster commented on #6793
@markerikson upgrading to 6 would be a big change. basically a new library

[2022-05-18 00:11] markerikson commented on #6793
Yeah, that's what I was figuring as I was looking through that migration info.

[2022-05-18 02:27] jasonLaster commented on #6802
Looks like this is a `graphql` call https://cs.github.com/RecordReplay/devtools/blob/7502d4cf4914b880e9322b5167c2a46adee3d0b1/src/ui/components/Header/Header.tsx?q=GetActiveSessions#L31

[2022-05-18 02:28] jasonLaster commented on #6800
switching over to @hbenl for source maps support

[2022-05-18 02:30] jasonLaster commented on #6777
@bvaughn what iteration do you think makes sense?

[2022-05-18 02:32] jasonLaster commented on #6693
this is now fixed

[2022-05-18 02:32] #6693 closed

[2022-05-18 02:35] jasonLaster commented on #6546
@jcmorrow where is this at?

[2022-05-18 08:31] jcmorrow commented on #6546
I just haven't written the part where we actually use https://github.com/RecordReplay/backend/pull/5565! I think this is actually very easy, so I'll give it a quick shot, and if I don't have it in half an hour I'll just leave some comments for somebody else to pick up tomorrow!

[2022-05-18 09:27] jcmorrow commented on #4289
@hbenl I've put my face on this because it is closely tied to #6820, I hope that's ok!

[2022-05-18 09:31] jcmorrow commented on #6548
Got another good replay of this: https://app.replay.io/recording/cant-create-pause-on-start--74ce924b-abc3-44ac-b9ec-3c65b02b52f6

[2022-05-18 12:12] bvaughn commented on #6777
I put it into the next one. Crashes are bad.

[2022-05-18 13:15] #6756 closed

[2022-05-18 13:57] bvaughn opened #6821 "Multi-level console messages are misaligned"
![Misaligned multi-line console text](https://user-images.githubusercontent.com/29597/169058458-da2fa543-bb41-4d71-8e3d-5d210de00624.png)

I think this is caused by the `white-space: pre-wrap` style set by the `.message-body` class. For some reason, browsers are adding more padding to the first line than subsequent ones.

My first thought was that there was whitespace but `element.textContent` sho

[2022-05-18 14:21] #6735 closed

[2022-05-18 14:22] bvaughn commented on #6735
There's some follow up animation polish to work on with Jon, but this issue is done for now

[2022-05-18 15:58] bvaughn commented on #5606
Going to un-assign myself and assign Jon to this one for now. I don't see any mention of "network" or "request" or anything on the linked design ticket (other than the backlink to this issue) so I think it's probably not actionable on this side yet.

Note that #6822 slightly improves the user story here for the comment-to-request flow.

There's still more to be done here though. The UI _dims_ comm

[2022-05-18 16:04] #5741 closed

[2022-05-18 16:10] #6733 closed

[2022-05-18 16:15] #6781 closed

[2022-05-18 16:19] #6715 closed

[2022-05-18 16:37] jaril commented on #6568
To triage.

[2022-05-18 17:06] #6546 closed

[2022-05-18 17:06] #4289 closed

[2022-05-18 17:50] #6507 closed

[2022-05-18 20:23] jonbell-lot23 opened #6828 "Add a "default to devtools" experimental setting"
* New users should always default to Viewer
* Per-replay, we should always default to your last view
* But if someone opts in, they should be able to default to devtools

This request originally came from Tablecheck, I think.

[2022-05-18 20:24] jonbell-lot23 commented on #6828
@markerikson I am assigning this to you cheekily since we were chatting in a thread earlier. No worries assigning to someone else, putting in icebox, whatever! Just getting the ball rolling for discussion.

[2022-05-18 21:28] ryanjduffy commented on #6019
Fixed by
- [ ] https://github.com/RecordReplay/devtools/pull/6830
- [ ] https://github.com/RecordReplay/backend/pull/5639

[2022-05-18 21:29] markerikson opened #6831 "Redux DevTools crashes in some scenarios"
**Description:**

In some cases, clicking the "Redux" tab causes the entire UI to explode.  Worse, it repeats itself the next time you refresh the page, because we persist the active timestamp and the last selected webconsole tab.

I don't know why this is taking down the entire UI, especially given that we have an `<ErrorBoundary>` around the app.

A partial workaround is to delete the `localStor

[2022-05-19 01:02] jonbell-lot23 commented on #6811
@markerikson

We decided last time to go with the most brain-dead possible way to include/exclude node modules in search and ended up with this:
![image](https://user-images.githubusercontent.com/9154902/169179885-8e7bde03-df38-4f27-8b88-de20b0f58c60.png)

I'm not sure I'm quite understanding the question here. Is the request around having an "exclude node_modules" option when you're deploying thi

[2022-05-19 02:49] markerikson commented on #6811
Yeah, it is - the `CTRL-P` dialog.  (I think their second half of the question _was_ around full text search, maybe, but as you've shown there it seems like we've got a checkbox for that already?)

[2022-05-19 02:50] jonbell-lot23 opened #6833 "Add loader indicator on playhead when buffering"
[Here's a Loom](https://www.loom.com/share/baa518df41f343178bc51dd2014d31ae), but I can save you three minutes by summarising what is said:

* [In this ticket](https://github.com/RecordReplay/design/issues/52), I said we should get Global Loader 1.5 out and then revisit
* We've taken a big step forward, and I think the next step forward is adding a loading indicator on the playhead while buffering

[2022-05-19 03:17] jperl opened #6834 ":bug: on DevTools: Error for too many exceptions is not d..."
:bug: on DevTools: Error for too many exceptions is not displaying in the console
• Navigate to the <https://devtools-38gskb4bm-recordreplay.vercel.app/recording/7c05aa57-7ceb-4d40-ab05-bc435f704941|replay>
• Click on exceptions to make them visible in the console
• Note the lack of the expected error message
Affected test: <https://app.qawolf.com/test/cl0shx8gr25237350r2s3ydm4tk|Assert console ex

[2022-05-19 03:17] jperl opened #6835 ":bug: on DevTools: Sharing recording with link and email ..."
:bug: on DevTools: Sharing recording with link and email errors out

steps to repro:
• log in
• click “share” on a replays dropdown
• error page, errors in console
affected tests: <https://app.qawolf.com/test/ckw3yu4r8000o09l9ak4t99u9>

NOTE: Initial report <https://qawolfhq.slack.com/archives/C02GEJCC9JP/p1652476819745089|here> \- [Auto posted from QA Wolf Slack message](https://qawolfhq.slack.co

[2022-05-19 03:17] jperl opened #6836 ":bug: on DevTools: Filtering console by event type does n..."
:bug: on DevTools: Filtering console by event type does not yield any results.
Steps to repro:
1. Log in
2. Navigate to a replay
3. Open Dev tools
4. Attempt to filter by an event
Test used in example: <https://app.qawolf.com/test/ckz31hxq0108798750ki1azib03h?suite_id=cl369j5ne099353ouomgq5ebe|Filter console by event type (search) on user role>

Results: Nothing displays in the console but can see

[2022-05-19 03:17] jperl opened #6837 ":bug: on DevTools: User auth not persisting when loading ..."
:bug: on DevTools: User auth not persisting when loading a replay by share link
• Log in
• Note logged in status
• Enter URL for a replay
• Note no longer signed in
Affected Tests:
<https://app.qawolf.com/test/ckxgq33mn000008l33ax8h1dc|Comment: create, edit, reply and delete>
<https://app.qawolf.com/test/ckwpn2uq4000009jz2vzz0rz0|Share replay via email and link, delete invitee>
<https://app.replay

[2022-05-19 03:52] jonbell-lot23 commented on #6622
Update on this issue:

We've got a few different issues floating around that I'm reconciling against each other. I'll respond to each item above and provide some additional color:

1. Playing stops even though the video is available: tbd
2. Clicking on unloaded regions shows the "focus" dialog: I think this has been changed?
3. Difficulties dialog: this has also been changed: I think this has been

[2022-05-19 04:00] jonbell-lot23 commented on #5606
@bvaughn are you able to drive forward on this without visuals? It sounds like removing the hover cursor and highlight addresses the bit you're referring to above, but I'm not sure what other items to handle.

I also realise that I might have grouped these tickets incorrectly. I think I saw "network" and "region" and thought it was referring to our other unloaded timeline items. I'm going to go re

[2022-05-19 04:02] jonbell-lot23 opened #6838 "Focus mode should save when pressing enter"
You can press ESC to get out of Focus Mode, but we should also allow return to save out of Focus Mode.

The keyboard shortcut of space, shift-F, enter is quite a power move for getting started with a Replay once you've found the right place.

[2022-05-19 04:08] jonbell-lot23 opened #6839 "Cursor shouldn't change to text input cursor on timestamp"
![image](https://user-images.githubusercontent.com/9154902/169202236-fe5b289d-39de-49a7-918c-fd047b2ff557.png)

This region isn't actionable, so the cursor needs to stay standard.

When in Focus Mode, the cursor changes to a text input cursor because at that point it's actionable.

[2022-05-19 04:15] jonbell-lot23 opened #6840 "Add rainbow picker to our console's right-click menu"
Now that we've pushed out our right-click console menu as part of Focus Mode 1.2, we can add the final piece to the puzzle: our rainbow picker.

<img width="603" alt="image" src="https://user-images.githubusercontent.com/9154902/169202567-6a38471f-e435-4731-8375-8af2f71f0a84.png">

Should be self explanatory based on the work we did with Print Statements. If no color is set, a user can change it h

[2022-05-19 04:32] jonbell-lot23 opened #6841 "Share dialog 2.0"
Here's the code issue that's paired with the design ticket!

[Design ticket here](https://github.com/RecordReplay/design/issues/29)
[Loom explaining the design here](https://www.loom.com/share/46086b782f2c452b9069ca738caba192)

![image](https://user-images.githubusercontent.com/9154902/169205497-5ac56095-f0a4-4d73-ae59-08df585a3ba9.png)

[2022-05-19 05:01] jasonLaster commented on #6833
I have a couple questions, but it's late, so flagging this and will come back tomorrow.

[2022-05-19 12:18] #6838 closed

[2022-05-19 12:48] bvaughn commented on #6841
I'm going to optimistically put this issue into the upcoming Sprint, but we can talk about it during the planning meeting 😄

[2022-05-19 13:02] bvaughn commented on #5606
If the only thing remaining to be done for this ticket to be completed is to fix the hover/cursor issue– then absolutely I can do that. It just wasn't clear to me what the "ask" was here :)

[2022-05-19 13:59] ceceliacreates opened #6843 "Comment gets lost when prompted to sign in to post"
**Description:**
If you try to add a comment when not logged in, it will let you type, then prompt sign in when you click Enter. However, after signing in, the comment and the location it was linked to are lost.

**Steps to Reproduce:**
View a replay while not signed in, then try to add a comment.

**Expected Result:**

Either not allow typing a comment if not logged in, or preserve comment state

[2022-05-19 14:11] jasonLaster commented on #6833
Left some thoughts here
https://www.loom.com/share/d709134e2f874e2aa653d5b16e2a57d9

https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-Design-Doc?node-id=12314%3A94603

[2022-05-19 14:14] jasonLaster commented on #6622
It would be nice to discuss these interactions a bit more.

I dont know how we *could* do it, but ideally the video player would make it easy for users to know when they are at the bound of the window and could opt in to stopping or continuing. Not sure what audio/video editors do here, but there might be some lessons.

[2022-05-19 14:41] jaril commented on #6793
Gonna wrap up the codemirror 6 discussion since that's probably its own discussion.

This is pretty severe if typing in the console is super slow. Anecdotally I haven't seen it so I'm making urgency as low, and it seems like if @markerikson's investigation is correct, the proper fix would take a lot of effort.

Sticking this in icebox unless we find out that it's an easier fix and/or more people/s

[2022-05-19 14:44] jaril commented on #6472
I misjudged this. This sounds like it's fairly low effort, and it does sound like a bad debugging dead end to try to figure out what that domain value is but not be able to view the entire string.

Adding it to this sprint!

[2022-05-19 14:50] jasonLaster opened #6846 "Unicorn adjustments"
**Description:**

* [ ] The circle badges should be 7px in the console
* [x] #6848: The unicorn should not be pushed down when paused

---

**Note** We should check with Jon and see if the badge was intentionally changed to 12px first

https://www.loom.com/share/ea7fb845139d4b0abd3643ab7537e300
https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-Design-Doc?node-id=12315%3A94607
https://www.lo

[2022-05-19 14:59] gideonred commented on #6814
I agree it's probably not the biggest problem, if it is a quick fix, let's for it. Otherwise, we can reprioritize. Thanks Jaril!

[2022-05-19 15:03] jaril commented on #6777
Tried to investigate quickly in honeycomb by checking events for that `sessionId` but got nothing:

`7b885c1e-e463-41ae-8a19-4eff523ffb66/f31de4b2-5804-417e-b813-ee18ff4d946a`
https://ui.honeycomb.io/replay/datasets/backend/result/ohFTC4yNfRx

@gideonred As far as the frontend's concerned, it _thinks_ that the session has been created since we get a sessionId back. Any thoughts on how to investiga

[2022-05-19 15:07] gideonred commented on #6777
The backend has crashed several of BrianV's sessions (first graph of go/usererror): https://ui.honeycomb.io/replay/datasets/backend/result/9dywGwovgAf

Unfortunately in the above metric we don't report recordingId (but I think I'll still be able to tell what's going on).

[2022-05-19 15:08] jaril commented on #6017
Been mostly working on emails stuff by myself (+ryan ocassionally).

@markerikson Pulling you into this in a few weeks™️ just so that knowledge is shared a bit!

[2022-05-19 15:12] gideonred commented on #6777
Per the playbook at top of go/usererror, I was able to find the bug this replay ran into:

https://ui.honeycomb.io/replay/datasets/backend/result/zumpjcJsPKY/a/xsuXLJav6ee

This is https://github.com/RecordReplay/backend/issues/473

[2022-05-19 15:14] gideonred commented on #6777
Since https://github.com/RecordReplay/backend/issues/473 will be tracking the fix, feel free to close this in favor of that.

[2022-05-19 15:19] jaril commented on #6548
Bumped this to next week's sprint!

[2022-05-19 15:24] #5606 closed

[2022-05-19 15:30] jaril commented on #6658
Iceboxing just because we don't have a clear idea on how to reproduce it and impact seems to be limited. Will keep an ear out in case we hear more stories about it, and can resurface it then.

[2022-05-19 15:34] souporserious commented on #6782
This is a duplicate, closing in favor of https://github.com/RecordReplay/design/issues/47

[2022-05-19 15:34] #6782 closed

[2022-05-19 15:38] jaril commented on #6622
To unblock the discussion and so @jonbell-lot23 has something to play with:

https://www.notion.so/replayio/202204200852-SendMessage-tips-13783b91a6194f058ff404269d307672

For example, in [this replay](https://app.replay.io/recording/replay-of-a-replay--8ccec6d3-9d89-40a4-b379-efd6337ee19f?point=14927853469561203019167625851699672&time=8654.604747774481&hasFrames=false), open the console and run `

[2022-05-19 15:39] jaril commented on #6588
Since it's already moved to another ticket, and we can backlink to this one, closing it!

[2022-05-19 15:39] #6588 closed

[2022-05-19 15:45] jaril commented on #6481
This is somewhat related to https://github.com/RecordReplay/devtools/issues/6812 so linking that here.

[2022-05-19 15:52] jasonLaster commented on #6622
Thanks Jaril! quick loom
https://www.loom.com/share/fc0962c14a8c4811969a1237e9fdef11

[2022-05-19 15:56] jaril commented on #6403
@souporserious this may or may not be related to the loading things you're looking at this week, so piling it on. Not assigning it to the current sprint though, since onboarding's not #1 currently!

[2022-05-19 16:01] bvaughn commented on #6360
Seems like a non-urgent bug doesn't need to be pre-assigned to someone? 😄

[2022-05-19 16:06] #6831 closed

[2022-05-19 16:11] bvaughn commented on #6839
Not sure what you're describing, Jon. The cursor is standard (assuming you're not editing the focus mode). Just double checked out CSS and we aren't specifying any custom cursor for that component.

Just point of clarification: The cursor you're seeing (at least in Safari) is just the default _text selection cursor_ (which is shown whenever you hover over selectable text). We can override the brow

[2022-05-19 16:16] #6839 closed

[2022-05-19 16:31] bvaughn commented on #6841
Seems like we should maybe push this out a sprint or two based on Jason's top vs mid funnel prioritization guidance.

[2022-05-19 16:33] #6777 closed

[2022-05-19 17:24] jaril commented on #6833
It feels like the conversation is diverging a bit. Buffering is also a concept in replay, but it's a loaded term and wanted to make sure we get the terms straight.

I understood what @jonbell-lot23 is saying as:
1) show the spinner on a clown nose when we're "not ready to go yet", i.e. we're "loading" and we're showing the global loader
2) actual video buffering progress is not relevant to the ori

[2022-05-19 17:30] bvaughn commented on #6833
@jaril I don't think that represents my understanding of where things stand with this issue.

So the global loader already handles the loading vs loaded+indexed case. I agree with @jasonLaster that we shouldn't overload that UI to _also_ address video playback / buffering.

I agree that it's not related to Global Loader issue, though we should address it (via this issue?)

FWIW I like Jason's mock

[2022-05-19 17:33] jcmorrow opened #6850 "Invalid location while editing a print statement"
I don't have a Replay of this, and I suspect it will not happen if I reload, but I just left a recording sitting for about 30 minutes with an existing, working print statement. I came back, edited it, and the analysis came back:

"Invalid location"

SessionId: '1e93eff7-ee20-4b0b-b1b4-27729c90a72c/136fde2d-a519-4968-86e1-a3025e207134'

Request:
[code]
Response:
[code]

URL: https://app.replay.io/r

[2022-05-19 17:49] jaril commented on #6833
I completely minimized why it's necessary to have that buffering tooltip since we already have two indicators: the buffered line on the timeline and the little spinner on the video. Didn't think about what Jason pointed out here, which is what happens when the user plays into an unloaded region, where we hide the buffered line 😬

https://github.com/RecordReplay/devtools/issues/6622#issuecomment-11

[2022-05-19 17:56] jcmorrow opened #6851 "Rerun analyses upon some focus/loaded region changes"
### Context

- Right now, analyses don't get re-run upon loading or focus window changes.
- We need to rerun analyses for a location when the *loaded* regions change *and*:
  - The location overflowed while finding points
  - The *loaded* regions that we last ran this location's analysis for have changed such that they are not a subset of previously run analyses. (i.e. there are potentially new po

[2022-05-19 18:00] jcmorrow opened #6852 "Restructure the client-side API for running analyses"
See https://github.com/RecordReplay/devtools/issues/6591 for a lot more context here.

### Description of this task

This is about how do perform the commands that all analyses will have run (create, find, run, release) and how can we interact with that imperative process (for example, can we please get a promise API, rather than passing in `onPoints` or `onResults` callbacks?)

[2022-05-19 18:02] jcmorrow opened #6853 "Restructuring the state management for running analyses"
See https://github.com/RecordReplay/devtools/issues/6591 for a *lot* more context

While analyses are in the process of being run (either finding their points [`findPoints` or generating results [`runAnalysis`]), what are we recording about the process so far, the status, maybe even partial results (because things do not get emitted all at once), and how can the UI layer pull out that information

[2022-05-19 18:09] jasonLaster commented on #6846
Thanks for the context, that's helpful!

We can probably address this with a classname and css

That's fair. Let's see how something in the middle feels. 9px or 10px. Print Statements are the crown jewl of Replay, I don't mind spending some cycles getting it just right.

[2022-05-19 18:14] jonbell-lot23 commented on #6622
Hey @jasonLaster @jaril @bvaughn  it's 6:13am for me but happy to meet about this later if we can find time.

Agree with the feedback here and on the other ticket. and the background is helpful. I think we can land something pretty quickly.

[2022-05-19 18:27] jaril commented on #6107
Good call. Got any STRs?

[2022-05-19 18:32] sentry-io[bot] opened #6855 "CommandError: Not a valid time"
Sentry Issue: [DEVTOOLS-2B5](https://sentry.io/organizations/replay/issues/3284719525/?referrer=github_integration)

[code]

[2022-05-19 19:11] bhackett1024 commented on #6850
It looks like while the tab was sitting idle the original controller which the session was using died due to an instance shutdown, and we switched over to a new controller.

[code]

That new controller produced the invalid location.  The problem here is that when running analyses on generated locations we require locations to be ones registered via addRoundTripAnalysisLocations().  When we replace

[2022-05-19 19:13] bhackett1024 commented on #6850
Interestingly, the session report doesn't show any protocol message errors:

[code]

[2022-05-19 19:40] jonbell-lot23 commented on #6846
cc @jcmorrow FYI talking about this code structure again

[2022-05-19 19:49] bhackett1024 commented on #6850
OK, so for the round trip analysis locations I think we need to send changes to this map from the controller to the session so that it can be synced with any backup controller the initial one is replaced with.  I don't think this data will be too substantial in size so this should be alright --- the worst case scenario is when the client gets all the breakpoint positions in a large generated sourc

[2022-05-19 19:59] jaril commented on #6809
@jasonLaster is this ready to close??

[2022-05-19 19:59] jonbell-lot23 commented on #6622
cc @jaril @jasonLaster @bvaughn I looked for time on the calendar but I don't see any good slots. So in the meantime, let's jump over here to this Discord file -> https://www.notion.so/replayio/Loading-buffering-loading-states-design-discussion-2c6b4e0a13f845ddb09221a3a3231631

[2022-05-19 19:59] jonbell-lot23 commented on #6833
cc @jaril @jasonLaster @bvaughn I looked for time on the calendar but I don't see any good slots. So in the meantime, let's jump over here to this Discord file -> https://www.notion.so/replayio/Loading-buffering-loading-states-design-discussion-2c6b4e0a13f845ddb09221a3a3231631

[2022-05-19 20:36] ryanjduffy commented on #6107
https://sentry.io/organizations/replay/issues/2791294424

[2022-05-19 20:47] jonbell-lot23 commented on #6846
There are other things on my radar for making unicorn as great as possible:

* Selected states (see borders in original design ticket)
* Maybe some subtle animations for when you mouse over stuff
* A better palette icon
* A better dismiss icon -- right now it's just a plain white space you need to know to press

[2022-05-19 21:18] markerikson opened #6856 "Add user-toggleable "hit count heat map" display in source editors"
**Description:**

We fetch all line hit counts for a given file on load. Currently, there's two ways to see that info:

- Hover over a given line and wait for the blue "N hits" hover button
- Look at the "Outline" view and see how many times a given file ran

When I'm skimming a file and really trying to get a sense of how much of the code ran, I really want to see hit counts for _every_ line disp

[2022-05-19 21:23] jcmorrow commented on #6622
For clarification, there is no difference (AFAIK) between the client and the server doing the unloading from a UI perspective.

[2022-05-19 21:34] jcmorrow commented on #6833
1. Right now, we show you what regions are focused, and if you hover over the loading status for the global loader you will see (on the timeline) the areas that are loaded vs. loading). I think it could be helpful to have a hover target somewhere which will do a similar action, but for video - show you where we are and are not ready to play video yet. This gets a little complicated with "where we

[2022-05-19 22:20] jcmorrow commented on #6681
Realistically this is going to be a follow-on to #6591

[2022-05-19 22:24] jcmorrow opened #6858 "Clicking on a comment marker does not mark that comment as selected"
I suspect this has something to do with how we detect clicks on Comment Markers vs. the raw timeline. We should probably have a Comment Marker onClick handler that does not bubble.

https://app.replay.io/recording/clicking-to-seek-to-comment-does-not-work--45798e58-0038-4b27-8835-34b3c2949f81

[2022-05-19 23:13] jonbell-lot23 commented on #6833
@jcmorrow I love both of these ideas, thank you!

1. We had discussed showing this information when you hover over the play button. I could see this working.
2. Good gravy, the idea of calling something "video only" might really unlock some good thinking here. Stay tuned.

[2022-05-19 23:16] jonbell-lot23 commented on #6833
This ticket got confusing because of poor naming in the title followed by a bit of a pivot. I'm going to close it for now in favour of tracking in other issues. Here's what happened:

1. I set up a ticket to do a clown nose -- I meant it for unloaded states but I accidentally said "buffering" which made the team think I was talking about video. Apologies for that!
2. We think the clown nose is a b

[2022-05-19 23:16] #6833 closed

[2022-05-20 01:24] jasonLaster opened #6862 "Show replay title in tab"
**Description:**
We should add the replay title as a `<title>`
<img width="913" alt="Screen Shot 2022-05-19 at 9 32 56 AM" src="https://user-images.githubusercontent.com/254562/169429989-b50e6df6-5f97-40e3-81ec-b68db1058534.png">

[2022-05-20 01:25] jasonLaster opened #6863 "Mousing away from the timeline should hide the HUD"
**Description:**
We should clear the hud when you mouse away from the footer.

<img width="531" alt="Screen Shot 2022-05-19 at 6 24 42 PM" src="https://user-images.githubusercontent.com/254562/169430121-27198597-3179-4596-a870-7324e101fd4f.png">

[2022-05-20 01:44] jasonLaster opened #6864 "Clicking in the viewer should show "add a new comment""
STR:

1. click to add a comment
2. click in the timeline
3. click to add a comment

ER: add a new comment
AR: prompted to move a comment

https://app.replay.io/recording/replay-should-clear-draft-comment-when-you-click-in-the-viewer--00f188cb-55f5-4244-bf74-66334ef49c40?point=48028745949278095876944984272800665&time=17393.55601659751&hasFrames=false

https://www.loom.com/share/1b75ac70b47c46a3b714

[2022-05-20 04:34] jasonLaster opened #6865 "Transcript fails when the comment has a null point"
Replay of crash
https://app.replay.io/recording/crash-app-with-typeerror-cant-convert-null-to-bigint--7f2c75c3-b022-4562-a9b9-3cbc73645ba3

This is original replay
https://app.replay.io/recording/learning-replay-debugger--472c3cc2-da57-46ca-91b8-b9adba09e03c

[2022-05-20 04:57] jasonLaster opened #6866 "Plus button UI polish"
- [ ] There should be a small gap between the line number tooltip and the plus button
- [ ] Hovering on the plus button should not show the breakpoint badge
- [ ] tooltip is clipped
- [ ] minus badge should hide when moused off of the panel

https://app.replay.io/recording/plus-button--10fca3c0-8792-434b-940e-993efc083969?point=53221042808195801819626386841669435&time=18752.336099585063&hasFrames=

[2022-05-20 05:03] jasonLaster opened #6959 "zypsyfy our pause line"
Not sure if these colors are perfect, but the old colors are still the firefox blue as opposed to our zypsy blue... I also looked at our fuschia, but it was too close to an error pause line...

### old
<img width="562" alt="Screen Shot 2022-05-19 at 10 01 51 PM" src="https://user-images.githubusercontent.com/254562/169454017-8803c00b-bfaf-4b94-9e3a-ac3d2317c53d.png">

### new
<img width="576" alt=

[2022-05-20 08:17] jonbell-lot23 commented on #6846
Hey @jcmorrow @bvaughn and @jasonLaster, here's the design point of view:

* I am happy to move the circles to 9px rather than the 12px they are currently
* There are some other nice-to-haves that I'll formalise later (see above comment)
* I spent a full 3-4 days getting this just right. Colours accessible but still nice. Dark theme/light theme. Measuring the sizes to make sure the margins felt ri

[2022-05-20 12:06] hbenl opened #6869 ""0 hits" everywhere"
I have a recording where the Outline panel shows "0" for all functions in all sources and the tooltip shows "0 hits" for all lines in all sources.
This recording shows the issue: https://app.replay.io/recording/0-hits-everywhere--780fef9c-6db6-4c74-991c-b86bb0c3111e
The underlying recording (from a failed e2e test that I was investigating): https://app.replay.io/recording/replay-of-devtools-nf5vxx

[2022-05-20 12:14] hbenl opened #6870 "Breakpoints and Logpoints are not persisted anymore"
STR:
- open any recording
- set a breakpoint or logpoint
- reload

Expected result:
the breakpoint or logpoint should still be there
Actual result:
it isn't

[2022-05-20 12:22] bvaughn commented on #6833
I like this suggestion!

[2022-05-20 13:05] bvaughn commented on #6846
I think the only action item from the above comment is for me to change the circles from 12px to 9px (but leave the unicorn at 12px).

I don't see any open PRs from Jon regarding colors or anything. I believe you're talking about #6668 which is done so 👍🏼

[2022-05-20 14:32] jasonLaster commented on #6846
This is getting mythical

[2022-05-20 15:13] jaril commented on #6107
HA okay data is good. Turns out this isn't as rare (<10x/month) as I imagined it might be:

<img width="321" alt="image" src="https://user-images.githubusercontent.com/15959269/169558527-bd4b6ade-5648-4298-81de-bcbabe31ab44.png">

Let me slide it into next week's sprint. Collaboration is deprioritized but this seems to be a pretty basic, core thing that we ought to figure out.

[2022-05-20 15:17] markerikson commented on #6870
Hmm. I did touch some of this code recently, so there's a good chance this one is also my fault :(

The main change I made was to move the "pending breakpoints" persistence logic into a central location.  It _was_ being saved as `prefs.whatever = someValue` in reducer cases, which runs but is conceptually the wrong place.  I moved it into `ui/setup/prefs.ts`, which is a central location where we'v

[2022-05-20 15:19] jaril opened #6871 "Timestamp tooltip in the timeline persists even when no longer hovering"
The tooltip showing what timestamp you're hovering on sticks around even when you're no longer hovering on the timeline.

https://app.replay.io/recording/tooltip-hangs-around--679a045f-af6b-4308-ae1e-37821cbe40ad

[2022-05-20 15:22] jaril commented on #6871
Duplicate of #6863.

[2022-05-20 15:22] #6871 closed

[2022-05-20 15:23] #6809 closed

[2022-05-20 15:37] ceceliacreates opened #6872 "Trying to log an undefined value to the console breaks the hit count"
**Description:**
Trying to log an undefined value to the console breaks the hit count.

**Steps to Reproduce:**
See replay, not sure if applies in all cases, but in this case:

- initial line hit count was 228
- added a print statement and logged a value to the console that should have returned `undefined`
- Console stuck at "Loading"
- Print statement panel prompted me to use Focus Mode because o

[2022-05-20 16:46] #6870 closed

[2022-05-20 16:52] #6858 closed

[2022-05-20 17:00] #6846 closed

[2022-05-20 17:03] bvaughn commented on #6768
I have seen this in the past (recently, though I can't recall on which issue) and share his suspicion of Sentry.

[2022-05-20 17:04] jaril commented on #6855
@jcmorrow mind looking into just how bad this is?

I thought it might be just because a `null` was being passed as time, but it looks like we check that the provided `time` is in a loaded region first.

Since that command's used every time we seek by clicking in the timeline, I'm not sure whether that means that the entire seek operation blows up and the user just sees wonky behavior on the timeli

[2022-05-20 17:09] jaril commented on #6837
<img width="603" alt="image" src="https://user-images.githubusercontent.com/15959269/169578486-49eddd5a-be64-4843-aef5-9e787c972733.png">
<img width="655" alt="image" src="https://user-images.githubusercontent.com/15959269/169578498-051bda2d-fcc7-4255-93de-ce499b63c5a9.png">

[2022-05-20 17:09] #6837 closed

[2022-05-20 17:11] jaril commented on #6836
This works — just the test selector is bad. Asked for maintenance:

https://replayio.slack.com/archives/C02GEJCC9JP/p1653066636211599

[2022-05-20 17:11] jaril commented on #6835
![Uploading image.png…]()

[2022-05-20 17:11] #6835 closed

[2022-05-20 17:17] jaril commented on #6834
Test needs updating. Will close once QA Wolf confirms the update.

[2022-05-20 17:19] jaril commented on #6810
<img width="704" alt="image" src="https://user-images.githubusercontent.com/15959269/169579847-de2d040c-2fd3-43b8-8a25-5113a671a33c.png">
<img width="667" alt="image" src="https://user-images.githubusercontent.com/15959269/169579873-cbf0751a-8f46-46c6-a676-573ab408e34e.png">

[2022-05-20 17:20] #6810 closed

[2022-05-20 17:23] jcmorrow commented on #6855
This can happen when we ask for the `endpoint` I believe

[2022-05-20 17:42] jcmorrow commented on #6850
I'm seeing this again, this time with a Replay that was not sitting around at all.

`http://localhost:8080/recording/many-messages--d66573fd-dd62-4abc-8f5d-2eccee75d528?point=324518553668437544207489769145890&time=359.9771178493279&hasFrames=true`
SessionID: `d597c68e-45ce-41bd-aa26-707f0151adb5/3ffa5b94-c67d-4efb-b229-86e0632fbb5f`

Failing analysis request:

[code]

Response
[code]

Original cre

[2022-05-20 17:48] jcmorrow commented on #6850
I started another session with a new `controllerKey` and the problem resolved, so it's not something special about the recording.

[2022-05-20 18:10] jcmorrow commented on #6855
I've submitted a PR to fix the endpoint case. We don't require that the point is inside of a *loaded* region, just a *known* region, but that should always be the case, because if we don't know about the region, it shouldn't be on the timeline I would expect.

[2022-05-20 18:19] gideonred commented on #6855
Just about to comment that this seems to happen often: https://ui.honeycomb.io/replay/datasets/backend/result/aCnXh2hAPKB

[2022-05-20 19:08] jonbell-lot23 commented on #6846
@bvaughn sorry for the wall of text here. Yup, all we needed was 9px but there was a lot of history I wanted to document :)

I am going to see if I can get better at tldr so you don't have to go digging so much.

@jasonLaster mythical is right! Did you know I built it in Figma by hand? This is ... not recommended 🤪

[2022-05-20 19:15] bvaughn commented on #6846
No worries @jonbell-lot23 😄

Check out the frontend now that #6873 has landed. I tidied a lot of things up. If you want any follow ups though let's chat!

[2022-05-20 20:09] ryota-murakami commented on #6799
Hello @jaril !
I came from your good first issue tweet and this is looks good for me.
Can I take this? 👨‍💻

[2022-05-20 20:26] jonbell-lot23 commented on #6846
Looks great @bvaughn , both the visuals and the code improvements. I did some small stuff, Josh pushed it further, but what you did is going to be so helpful moving forward. Thanks!

Aesthetic/subjective opinion: the original goal was to make the circles equal to the unicorn in weight. I think we've gone way in the other way, the unicorn looks MASSIVE compared to the circles. But that's cool with

[2022-05-20 20:31] jonbell-lot23 commented on #6846
Darn, I spoke too soon

![image](https://user-images.githubusercontent.com/9154902/169605830-759bf930-2a52-4ab4-913d-a835ffcbaa84.png)

The unicorn has a horn, and the pixel art requires crisp lines. Which means this is a visual bug:

![image](https://user-images.githubusercontent.com/9154902/169605979-d111b72f-92ee-4570-a4a0-0bc8d44ff31f.png)

Notice that the horn is being cut off. The way I hand

[2022-05-20 20:31] Andarist commented on #6768
It's hardly any scientific proof but I have *very* good record in reproducing this in Chrome and after I've restored **both** of the `document.addEventListener` and `document.removeEventListener` (to get rid of Sentry from those two) I can no longer repro this.

[2022-05-20 20:51] bvaughn commented on #6846
Ah, this is just a border-radius problem. My oversight. Apologies!

[2022-05-20 21:09] jasonLaster opened #6883 "Chrome takes awhile to load many replays at once"
Chrome
https://www.loom.com/share/5fdc609ce11045178ff5095b6b62687b

Firefox
https://www.loom.com/share/4f943fd5df744cc596a00cc73f957c49

Migrated from https://github.com/RecordReplay/customer-support/issues/107

[2022-05-20 21:44] Andarist commented on #6768
One additional piece of information... so what is set on `document.addEventListener` and `document.removeEventListener` are actually LogRocket wrappers... their implementation can be roughly seen here:
https://unpkg.com/browse/logrocket@2.2.1/dist/build.umd.js#L1045

There is a strong expectation here that a `func.__lr_wrapper__` is supposed to be removed (when it exists) and that property is crea

[2022-05-20 22:04] jperl opened #6884 ":bug: on Staging: getting "unexpected session error" when..."
:bug: on Staging: getting "unexpected session error" when trying to view replay

steps to repro:
• navigate to <https://staging.app.replay.io/recording/sample-folder-visual-studio-code-insiders--99215af1-7f6f-4db2-84e4-7a2ea6142240?point=10384593718233283943681123422306591&amp;time=4183&amp;hasFrames=true|this> replay on staging
• unexpected session error
affected test: <https://app.qawolf.com/tes

[2022-05-20 22:28] jasonLaster commented on #6799
@ryota-murakami go for it!

[2022-05-20 22:34] ryota-murakami commented on #6799
@jasonLaster Thank you, I got it!

[2022-05-20 22:43] #6855 closed

[2022-05-21 12:08] bvaughn opened #6886 "Migrate to "main" as primary Git branch"
- [x] #6878
- [ ] #6885
- [ ] Update Vercel configuration

[2022-05-21 12:15] bvaughn commented on #6886
I believe this effort is done, but I'll leave the issue open for a little while in case anything unexpected comes up.

[2022-05-21 17:48] #6850 closed

[2022-05-21 21:09] ryota-murakami commented on #6886
@bvaughn Nice work! I also renamed fork repo and still working fetch from upstream correctly!

[2022-05-22 00:16] markerikson opened #6906 "Consider adding an additional filtering option to only run analysis after Nth line hit"
Per https://twitter.com/bradleymeck/status/1528165954395447296 , it might be useful to have a breakpoint/print statement filtering option that only starts running analysis after the line has been hit N times.

[2022-05-22 02:12] bvaughn commented on #6886
Thanks for confirming :)

[2022-05-22 14:33] yeion7 opened #6907 "Devtools tabs focus style"
**Description:**

When navigate in the devtools with tab, there is not focus style, because of that is imposible to navigate only with the keyboard

**Steps to Reproduce:**

try to navigate in the devtools between tabs only with the keyboard

**Expected Result:**

Tabs needs to have a focus style

**Additional Context:**

https://user-images.githubusercontent.com/9127504/169700554-06653709-a3e0-47

[2022-05-22 18:08] yeion7 opened #6909 "Dropdown interaction issues"
**Description:**

Dropdown have a few issues with a11y,

* Focus doesn't return to the button on select item
* Can't close on scape
* Can't navigate on options with arrows keys

**Steps to Reproduce:**

Try to use a dropdown with keyboard

**Expected Result:**

Users can use a dropdown only with the keyboard

**Additional Context:**

https://user-images.githubusercontent.com/9127504/169709488-dc6d

[2022-05-22 20:41] jonbell-lot23 opened #6911 "Right-click on gutter should alway show "add comment" context menu"
Today you can right-click on a gutter with no hits to add a comment, but if you right-click on a part of the gutter with hits, nothing happens. (First spotted here: https://www.loom.com/share/982c007dc08642d79085d0a7a7e4b539?t=32)

Both should have the same context menu.

[2022-05-22 21:51] jonbell-lot23 commented on #6622
Absolutely right. This is the beauty but also the agony of our design here. I think trying to explain four different lines and what they all mean would be a UX catastrophe ... but by making unloaded look the same in both cases, we have nuances to consider when messaging.

(For anyone reading this, and for historical reasons, I should point out that this was understand and very thoroughly considere

[2022-05-22 23:29] jonbell-lot23 commented on #6840
Hi @bvaughn ! Only assigning this to you for visibility reasons, feel free to push it out, assign to others, etc.

[2022-05-22 23:36] jonbell-lot23 commented on #6813
I suspect this issue will get punted the next time we look, so quick note about that:

Filters aren't complete until the messaging is accurate, so this is important to get right 💫

[2022-05-23 00:15] jonbell-lot23 commented on #6862
Agree -- and it's alway my preference to be user centric with the title. Meaning:

[Our logo] Climatescape saf shows up twice
is better than
[Our logo] Replay: Climatescape saf shows up twice

Especially when tabs get tight. You'd rather see
[Our logo] Climat...
than
[Our logo] Replay...

[2022-05-23 02:07] jonbell-lot23 opened #6912 "Investigate settings + node modules exclusion"
Places to put node_modules stuff

- [ ] Node modules in console
- [ ] Searching text
- [ ] In sources

[2022-05-23 03:26] jonbell-lot23 opened #6913 "Global Loader 1.6"
Global Loader 1.5 is a big step forward, and here are some small revisions we've discussed for 1.6

**Ready to be discussed + worked on:**

- [x] #6849
- [x] #7064 ([design-discussion](https://github.com/RecordReplay/design/issues/65))
- [x] #7053 ([design-discussion](https://github.com/RecordReplay/design/issues/65))
- [x] #7060 ([design-discussion](https://github.com/RecordReplay/design/issues/6

[2022-05-23 03:38] jperl opened #6914 ":bug: on Deploy PR: Error on loading a public replay from..."
:bug: on Deploy PR: Error on loading a public replay from library

NOTE: This is the Deploy PR test environment

Steps to recreate:
• Log in to Replay
• Go to your library
• Click the Clade replay
Expected: Clade replay to load
Results: POST errors. missing component error and an uncaught promise

Affected tests: <https://app.qawolf.com/test/ckw3tcfhk000w09mhhfjshoff?suite_id=cl3hqrg9m56243453s5tp

[2022-05-23 11:52] bvaughn commented on #6913
Just to clarify here, the text cursor _is_ actually the standard cursor for browsers like Safari (which I believe you use) when hovering over text like our timestamp. We can override it by using CSS to disable text selection (`user-select: none`) or we could override the cursor itself (`cursor: default`) if you'd like to though. 😄

[2022-05-23 14:12] jaril commented on #6652
<img width="375" alt="image" src="https://user-images.githubusercontent.com/15959269/169839014-8c937f1c-9ca4-4aab-8913-6c0d69fd8684.png">

[2022-05-23 14:12] #6652 closed

[2022-05-23 14:25] jaril commented on #6883
@ryanjduffy mind taking a look? It looks like quickly opening multiple replays from the library into new tabs results in those tabs not loading properly. The last network activity seems to be stripe-related so not sure if that might be the culprit?

[2022-05-23 14:35] jaril commented on #6906
My understanding of that tweet is that _shu would like to pause at the breakpoint right before a crash. For example, if a breakpoint was hit 1000 times but it crashes between 999 and 1000, then you'd like to pause at 999. In replay, that's super easy since you can just go to the end of the recording, and hit previous hit on that breakpoint twice and you're there. No need for any filtering.

I thin

[2022-05-23 15:01] jaril commented on #6884
This is passing. Getting QA Wolf to unmark it as a bug and will close.

[2022-05-23 15:05] markerikson commented on #6906
Yeah, I'm suggesting that it _might_ still be useful to say "look, I know this line is gonna get hit 100 times, but skip logging the first 50 of them and only start printing output at 51", etc.

[2022-05-23 15:13] jaril commented on #6814
Considering it lower priority since it happened <5 times in the last week.

But it looks like it's possible for the backend to send a message or an analysisResults that's missing a pauseId:

https://github.com/RecordReplay/devtools/blob/0ce5639bec4ddaeae11c2aa5f4058b48c63cd3fd/src/protocol/logpoint.ts#L76
https://github.com/RecordReplay/devtools/blob/e89eceb68ea8d9c16db7c348bebe16220e9cbd81/src/pr

[2022-05-23 15:21] jaril commented on #6906
AH got it!

My sense is this is an edge case and a new filter implementation might conflict (and actually, is somewhat addressable) by focus mode. Which I'm just now realizing is exactly what you said [here](https://twitter.com/acemarke/status/1528166955504570370) 🤦‍♂️

Switching it to a discussion so @jonbell-lot23 @jcmorrow can weigh in.

[2022-05-23 15:27] jaril commented on #6869
Yeah this looks like expected behavior. My guess is that those hits are from the unloaded part. Focusing on that area fixes the problem.

What's interesting to me that the backend predictably unloads that first region consistently.

There's not much we can do here since the backend is just doing its own thing (unloading). I suppose in this situation it would have been nice to have better messaging

[2022-05-23 15:30] jaril commented on #6914
![image](https://user-images.githubusercontent.com/15959269/169854640-2e029e5f-6149-47c9-9278-8e37a62f0f54.png)

[2022-05-23 15:30] #6914 closed

[2022-05-23 16:16] gideonred commented on #6472
@markerikson to follow up on PR that was merged that may have fixed this.

[2022-05-23 16:17] markerikson commented on #6472
Yep, should be resolved by #6905

[2022-05-23 16:17] #6472 closed

[2022-05-23 18:25] jaril opened #6919 "Failing test: breakpoints-07"
Replay: https://app.replay.io/recording/replay-of-devtools-m3yk8crmh-recordreplayvercelapp--258d37cf-db69-43b9-91fa-202c99f2be1b

There seems to be a spike of breakpoint-07 test failures ([see here](https://ui.honeycomb.io/replay/datasets/backend/result/Hp3Ese95Vtv/a/3fveKN7U4W1?useStackedGraphs)). @hbenl I think you might have been looking at this already — can you let me know in case you've made

[2022-05-23 18:27] #6907 closed

[2022-05-23 19:06] gideonred opened #6920 "Fix language around "There was an error. Please try recording again.""
As per this discussion in Notion: https://www.notion.so/2022-05-16-Glide-s-quality-journey-for-the-last-7-days-5fc8b6bf7e5e44f49be6c70404bcbd59?d=c398d565b1ad469398ca13ca2cb9ec72#ebaa9ab6b30c4c9a8b383ebdae7754e9

The frontend sometimes shows the message "There was an error. Please try recording again." to the user when encountering a problem with the session. This suggested action "Please try reco

[2022-05-23 19:07] markerikson commented on #6814
@jaril fyi I did just refactor `Pause` to take a `ThreadFront` as its argument - previously it was taking a `recordingId` or `sessionId` or something like that.  However, pretty sure it was _not_ getting a `pauseId`.

[2022-05-23 19:19] jaril commented on #6814
Yeah that appears to have been not connected. Unless I'm missing something—let me know!

[2022-05-23 19:33] jaril opened #6921 "There's no way to navigate back to the paused position in the console when it's off-window"
This was generated from antidnan's [post on Discord](https://discord.com/channels/779097926135054346/912494011464421436/978378926776787004):

[code]

[2022-05-23 19:34] jaril commented on #6921
This is an often-enough occurrence that, even though it's UI polish, is probably worth adding to improve the debugging experience when it's at its worst (long logs in the console). Assigning it to the next sprint to be picked up then.

[2022-05-23 20:10] jcmorrow commented on #6576
I think that #6591 is just a better, more detailed version of this card 😄

[2022-05-23 20:10] #6576 closed

[2022-05-23 20:12] jcmorrow commented on #6852
@markerikson I think this is in-progress yeah? I'm gonna mark it as in-progress, feel free to change it if that's not accurate. And also it would be great to get an update and/or one of those heartbeat Discord threads that you are so good at! 💖

[2022-05-23 20:16] markerikson commented on #6852
For varying values of "in progress", technically yes :)

Actual status atm:

- We talked Wednesday
- Thursday I was digging through code, ended up over in `client/commands.js`, and figured that refactoring it to TS would be a good starting point to get my mind moving since I'd be dealing with actual code.  Put up that PR.
- Spent all of Friday fighting with CI/E2E and backing out changes to the PR

[2022-05-23 20:17] jcmorrow commented on #6793
@jaril I don't think this should be iceboxed. This happens for me every time I am paused at a place where eager evaluation is possible.

[2022-05-23 20:28] jcmorrow commented on #6852
Thanks for the update!

[2022-05-23 20:29] jonbell-lot23 commented on #6913
Makes sense. Yup, that's what would be best, thanks! (And then of course when the precision editor is up, we'd use the text input cursor again)

[2022-05-23 20:44] gideonred commented on #6588
We have seen white screens that are "failing to open websockets" related: https://github.com/RecordReplay/customer-support/issues/108

[2022-05-23 22:10] #6019 closed

[2022-05-23 22:32] jonbell-lot23 commented on #6869
I don't have a design prepared, but there's a *concept* that is very much in the radar and gathering speed:

Any place where you're missing things due to unloaded content, we need to show it. This applies to this issue, but also console, network monitor, etc. stay tuned for more on this soon.

cc @jasonLaster

[2022-05-24 00:42] ryanjduffy opened #6923 "Update CSP for pre-prod environment"
Tried to test out a graphql change but was unable because it failed CSP

[2022-05-24 00:59] jasonLaster commented on #6869
@jonbell-lot23 hit data from breakpoints or really anything analysis based comes from `indexing` which would be unloaded. This is different than resources which cme from basic processing.

[2022-05-24 01:10] jasonLaster commented on #6793
Agreed. We should prioritize fixing this edge case, but it seems like it's not a codemirror issue as us terrorizing CM in some way.

[2022-05-24 02:38] jonbell-lot23 commented on #6869
That's my understanding, and pretty sure that's what I said.

I said: "Any place where you're missing things due to **unloaded content**, we need to message it."

You said "hit data from breakpoints or really anything analysis based comes from **indexing which would be unloaded**."

We're saying the same thing here, yes?

[2022-05-24 04:34] jasonLaster commented on #6869
Hmm - i'm not sure. The distinction is that with resources (console logs) we can say 23 have been unloaded, want to reload them? With indexed data we dont know how many have been unloaded.

@jcmorrow and I have discussed future work to fix that, but that is the current state of affairs.

[2022-05-24 04:37] jasonLaster commented on #6883
closing as a dupe of https://github.com/RecordReplay/customer-support/issues/108

[2022-05-24 04:39] jcmorrow commented on #6869
Well, we can only say that because we loaded them before we unloaded them. Technically, we could do the same thing for analyses. When the work that @markerikson is doing on analyses is complete, they will (or will soon) work the same way that console messages do - if ever we load the entire recording's hit record for those points, we will no longer need that indexed data to still be loaded in orde

[2022-05-24 04:41] jcmorrow commented on #6869
My understanding was that involuntary unloading would be much less common now that we are using turbo replays, because each 30-second set of regions should theoretically be on its own controller. I'm surprised we've still been seeing this auto-unloading behavior.

[2022-05-24 10:11] hbenl commented on #6869
No, there are hits in a loaded region, as you can see when you click on the last comment in the recording (I forgot to mention this in the issue description).

[2022-05-24 10:22] hbenl commented on #6919
I did look at it briefly and noticed that the backend responds with an internal error to the `Debugger.setBreakpoint` commands, so this is probably a backend issue.

[2022-05-24 11:15] #6799 closed

[2022-05-24 11:16] #6883 closed

[2022-05-24 11:34] jaril commented on #6793
Didn't know that! Bumping it back up and putting it in this sprint for somebody to pick up as soon as I see soft focus/analysis work relax. Or if I make some decent progress on graphql things today I can grab it!

[2022-05-24 12:00] jaril commented on #6869
@hbenl thanks for clarifying! Missed that the first time, got it now.

@jcmorrow this looks like the heatmap hit count is returning 0 for line 44, which is not at all what I expect since it appears that there's 4 hits that's within the loaded regions. Made a [loom here](https://www.loom.com/share/8d349cd259aa45f7a45b65ffc561c36b), mind letting me know what you think??

[2022-05-24 13:37] bvaughn commented on #6886
I think we're done, provided nothing gets committed to the `master` branch going forward.

[2022-05-24 13:38] jaril commented on #6920
It seems like the full fix would be to require being able to tell apart controller fatals better. If we were, then we'd be able to clearly say "A refresh should do the trick", or "Please record a new replay".

Small fix we could do here is just a more nuanced message like, "Something went wrong. Refreshing should help, but if the problem persists, please try recording again", then have a Refresh b

[2022-05-24 13:51] jasonLaster commented on #6920
@jaril that's right. We discussed this earlier and for the moment, it is fine to go with the small fix which will be clearer to users.

[2022-05-24 15:32] jasonLaster commented on #3828
The core UX challenge of column breakpoints is how do we unify breakpoints and column breakpoints while still keeping them decoupled

<img width="787" alt="Screen Shot 2022-05-24 at 8 27 39 AM" src="https://user-images.githubusercontent.com/254562/170073842-1b019c72-47ee-45af-a4be-c72f003cb070.png">

https://www.loom.com/share/529476aa0d094cc6a56cab6431d827d2

Figma
https://www.figma.com/file/mAot

[2022-05-24 20:17] jaril commented on #6919
https://github.com/RecordReplay/backend/pull/5727 has been merged but it looks like the most recent breakpoints-07 test runs are still failing.

[2022-05-24 20:24] jaril opened #6933 "Remove Intercom Chat and replace it with a link to Discord"
Lets kill it and put a link to Discord in :P

[code]

Transferred from https://github.com/RecordReplay/customer-support/issues/108.

[2022-05-24 21:40] bvaughn opened #6935 "Combine log point and break point UI controls"
Earlier today I recorded a [Loom describing something that frequently confuses me when using Replay– break points](https://www.loom.com/share/f9dab419cee546c9a48875f7f4611a4a). This lead to a discussion between @jaril, @jasonLaster, and I over video chat.

Afterward I wrote a rough proposal for how we could combine the log point and break point functionality into a unified control that would (a) b

[2022-05-24 21:54] jonbell-lot23 commented on #6935
I made a ticket for design-specific stuff. Having a separate code and design ticket typically works best for issues like this -> https://github.com/RecordReplay/design/issues/62

[2022-05-24 22:31] bvaughn commented on #6748
Ugh, I wrote a stupid `clamp` statement:
[code]

This should be:
[code]

[2022-05-24 22:46] jonbell-lot23 opened #6937 "Add granular invite links"
Here's the Figma: https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-Design-Doc?node-id=12482%3A96588

![image](https://user-images.githubusercontent.com/9154902/170144290-d577524e-31f0-446b-94fc-daa35534ad7c.png)

Note that this design was iterated on and agreed on many months ago. Which means a) I think the design is solid b) but it's been a while, so things have likely changed. To discuss

[2022-05-24 22:51] #6909 closed

[2022-05-24 22:56] #6748 closed

[2022-05-24 23:05] jperl opened #6939 ":bug: on DevTools: enabling 'messages' in console doesn't..."
:bug: on DevTools: enabling 'messages' in console doesn't make messages viewable, errors in console

steps to repro:
• log in
• view replay's Devtools tab
• enable worker &gt; message
• no message viewable, errors in console
affected test:
<https://app.qawolf.com/test/ckz327u1u114841951p43t4ace73|Hide node modules with user role> \- [Auto posted from QA Wolf Slack message](https://qawolfhq.slack.c

[2022-05-24 23:20] jperl opened #6942 ":bug: on DevTools: opening "sample-folder" on Replay goes..."
:bug: on DevTools: opening "sample-folder" on Replay goes to blank page with error in console

steps to repro:
• navigate to <https://staging.app.replay.io/recording/sample-folder-visual-studio-code-insiders--99215af1-7f6f-4db2-84e4-7a2ea6142240?point=10384593718233283943681123422306591&amp;time=4183&amp;hasFrames=true|https://staging.app.replay.io/recording/sample-folder-visual-studio-code-inside

[2022-05-25 00:45] jperl opened #6944 ":bug: on DevTools: Search filter for “Replay” doesn’t fin..."
:bug: on DevTools: Search filter for “Replay” doesn’t find a result
Steps to recreate:
• Log in to Replay
• View library
• One of the replays “Replay prompts for auth when commenting” isn’t being filtered when searching with keyword “Replay”
Expected: 3 results in my library to appear
Results: 2 results filtered and “Replay prompts for auth when commenting” not visible.

Affected tests: <https://a

[2022-05-25 03:30] #6920 closed

[2022-05-25 03:30] #6863 closed

[2022-05-25 05:18] jcmorrow opened #6947 "Add some indication when the user has an unapplied, pending filter string and they've focused away from the search box"
https://app.replay.io/recording/filtering-is-broken--0e624a72-3404-472a-a551-b1ca47a52294?point=51273931526959079127049417261064264&time=27900&hasFrames=false

[2022-05-25 05:19] jcmorrow commented on #6947
@jaril not sure what's going on here, but it seems up your alley!

[2022-05-25 05:21] jcmorrow commented on #6947
Also, this is a bit of a side issue, but I find it very counterintuitive that when you delete the search term from the bar, it does not clear the filter. You have to hit "enter" again to get your recordings to show up. I don't know if it makes more sense to reload them on change or on blur, but it seems like we should probably do one of those.

[2022-05-25 08:01] jonbell-lot23 commented on #6913
Update: each of these design items have a POV attached. See links above for Loom walkthroughs and screenshots.

[2022-05-25 11:24] jaril commented on #6947
Got a fix in over in backend! https://github.com/RecordReplay/backend/pull/5742

Yeah @bvaughn also brought this up. That implementation was lifted from GitHub's filter bar but I think I'm in the same boat — not a fan of the possibility that the user might mistakenly think that a filter's applied when it's not. Keeping this issue open until that part's resolved.

[2022-05-25 11:34] jaril commented on #6937
Closing this for now since @ryanjduffy addressed the original issue with https://github.com/RecordReplay/devtools/pull/6943.

[2022-05-25 11:34] #6937 closed

[2022-05-25 12:51] bvaughn commented on #6913
@jonbell-lot23 What does "Surface unloaded data" mean?

Sorry if we've talked about this and I've just forgotten, but I'm not sure what that means in terms of actionable work.

[2022-05-25 13:22] bvaughn commented on #6360
Looks like this is a bug that's a combination of our own text filtering (mapping the search text "/" to "") and the fuzzy search package we're using ([fuzzaldrin-plus](https://www.npmjs.com/package/fuzzaldrin-plus)) which seems to return _either_ an HTML string _or_ an empty array if we pass it empty text as the query string.

Lemme think about the best way to fix this.

[2022-05-25 15:21] jaril commented on #6919
Linking most recent issue: https://github.com/RecordReplay/backend/issues/5736.

[2022-05-25 15:47] jaril commented on #6662
@jcmorrow investigate then close?

[2022-05-25 17:08] jaril opened #6951 "Adding a comment to a video in an unloaded region doesn't work"
Demo: https://www.loom.com/share/ab34bb9f32cf4fed80270a9fcf1b8ced
And [this is the replay](https://app.replay.io/recording/mops-428-new-fields-for-embedded-sender--9c6b681e-a23c-4c7b-b8fd-b1798504de97?point=128184828740075921259275221899149312&time=57007.194888178914&hasFrames=false) where commenting while paused in an unloaded region fails.

Replay's restricted so give me a heads up and I can inv

[2022-05-25 17:12] jaril commented on #6947
Fix is merged so filtering is fixed — @jcmorrow mind double checking on your side?

Keeping this open until we have some way of being more explicit about pending changes to the filter.

[2022-05-25 18:22] #6933 closed

[2022-05-25 19:10] jonbell-lot23 commented on #6913
You are right to be confused! That was a bite I forgot to flesh out.

It came from a backend discussion like "wait, do we have this data to show in the UI?" Sounds like we do? To discuss.

[2022-05-25 20:29] jperl opened #6952 ":bug: on Staging: Checkbox on team settings to restrict /..."
:bug: on Staging: Checkbox on team settings to restrict / allow access by domain is disabled
Tests affected:
<https://app.qawolf.com/test/ckxi2jo1d000109jk7bw3egrq|Team settings: give access to anyone with email domain>
<https://app.qawolf.com/test/ckwlb0434000i09mq4h10aszc|Create team: invite team by link, limit access to domain, no invites dialog appears>
Steps to repro:
1. Go to team settings
2

[2022-05-25 22:07] jcmorrow commented on #6662
We changed what happens when you click on the unloaded area, so now this is the correct behavior I believe!

[2022-05-25 22:07] #6662 closed

[2022-05-25 23:38] jonbell-lot23 commented on #6622
Hello team! For GitHub tracking reasons, I'm going to close this because it's being handled by @bvaughn over here: https://github.com/RecordReplay/devtools/issues/6913

This bug calls for three things, and all are being addressed in Global Loader 1.6:

* VIdeo should be playable anywhere on the timeline, even unloaded regions
* We shouldn't trigger the "edit focus mode" dialog when clicking an unl

[2022-05-25 23:38] #6622 closed

[2022-05-26 02:06] #6959 closed

[2022-05-26 03:06] jaril commented on #6913
Surface unloaded data: Whenever you constrict the focus area such that things are "lost", maybe point out to the user that those things have been blown away.

[2022-05-26 11:45] bvaughn commented on #6913
IMO "whenever we've trimmed something, let the user know we trimmed it" seems too broad to be actionable.

"show a message above and below console logs when we've filtered some out" seems really actionable though

[2022-05-26 12:58] jaril commented on #6913
Yep! I think at the very least, an acknowledgement that you've focused and so there may be logs before and/or after what's displayed, is useful. That way the user is not misled to thinking that what's shown is all there is.

A bonus would be if we could have some number attached to it ("there are n number of logs after this part but you can't see them because of your focus region"). But I'm not su

[2022-05-26 13:38] jaril commented on #6942
This appears to work just fine.

[2022-05-26 13:38] #6942 closed

[2022-05-26 13:40] jaril commented on #6939
Events seem to be finicky. THere was a similar error that was resolved by adding a longer time out.

https://github.com/RecordReplay/devtools/issues/6652

This needs more investigation.

[2022-05-26 13:43] jaril opened #6965 "Invite team member onboarding UI is broken"
I think this was caused by [this change](https://github.com/RecordReplay/devtools/pull/6943).

This is onboarding so usually I wouldn't float it to the top, but this is particularly janky. @ryanjduffy mind grabbing this one?

<img width="446" alt="image" src="https://user-images.githubusercontent.com/15959269/170499477-6d22abe3-3262-4ed5-962c-1daaa3c2a6ed.png">

[2022-05-26 13:46] jaril opened #6966 "Sharing modal is broken"
Noticed this from investigating #6952.

Two issues:
- [ ] Clicking on the `Restrict this invite link to users with a…` checkbox doesn't do anything
- [ ] Overflow behavior is wonky (see screenshot below)

<img width="400" alt="image" src="https://user-images.githubusercontent.com/15959269/170500370-1db501d8-54ae-4e61-8696-b2d4c8d3e5b4.png">

[2022-05-26 13:48] jaril commented on #6952
This should be fixed as soon as https://github.com/RecordReplay/devtools/issues/6966 is addressed.

[2022-05-26 13:49] jaril commented on #6944
<img width="921" alt="image" src="https://user-images.githubusercontent.com/15959269/170500898-80a28f1a-3972-4d0b-ba9e-0cf5a8df1a56.png">

[2022-05-26 13:49] #6944 closed

[2022-05-26 13:51] jaril opened #6967 "Add UI for a workspace's tests view in the library"
Drawn from https://github.com/RecordReplay/ops/issues/670.

[2022-05-26 13:52] jaril opened #6968 "Add UI for showing test runs view in the library"
Drawn from https://github.com/RecordReplay/ops/issues/670.

[2022-05-26 14:03] markerikson commented on #6913
@jaril We... _could_ without too much difficulty, I think.

Right now we keep the list of visible message IDs in `state.messages.visibleMessages`, calculated in the reducer.

At a minimum, you can do trivial math to compare the length of that array vs the total number of messages in the table, and say "N messages hidden".

If we want to do the before/after comparison, we _ought_ to be able to writ

[2022-05-26 16:05] jasonLaster opened #6972 "Should be easy to collapse exceptions"
![image](https://user-images.githubusercontent.com/254562/170527792-d62669ec-2b79-47bc-bd70-46ff08a69bdd.png)

[2022-05-26 16:30] #6966 closed

[2022-05-26 17:27] jcmorrow opened #6975 "The file picker should be faster"
I have no technical definition for "too slow" here, but it's *definitely* too slow. Recording performance has been pretty terrible for me lately, but trust me, even when not recording, it takes a long time to find the file, even after it is *clear* that sources have loaded (because they are in the sidebar). I understand that sometimes there are a lot of files, but it seems very likely that we coul

[2022-05-26 17:52] jcmorrow commented on #6869
I missed this comment, sorry @jaril. I think you are close to something, gonna pick up where you left off!

[2022-05-26 18:10] #6965 closed

[2022-05-26 20:38] jasonLaster opened #6978 "Selecting a network request pushes the UI to the left"
https://app.replay.io/recording/selecting-a-network-request-breaks-the-ui--c532bd67-2b4d-4809-a3c6-1d806ae5088d?point=50624894381302836761627967665209344&time=21422&hasFrames=false

1. the filter dropdown is silly - we should replace it w/ a sidebar (notice how it starts up then goes down) 😛
2. when i select xhr hte pause line is at the bottom
3. when i select the event the app is pushed to the le

[2022-05-26 22:54] #6978 closed

[2022-05-27 15:00] jaril commented on #6919
It looks like this has stopped becoming a problem as of last night, not seeing instances of the same error popping up in honeycomb anymore.

https://ui.honeycomb.io/replay/datasets/backend/result/ENB5fBCveDb/a/3fveKN7U4W1?useStackedGraphs

Will check again later today and if that's still the case, will be closing it.

[2022-05-27 15:01] #6952 closed

[2022-05-27 17:00] ceceliacreates opened #6988 "Comments no longer linking to correct source"
**Description:**
Recorded this replay on Monday and added comments. Now, the comments aren't linked to the correct source in all cases. Sometimes it opens the minified code (not sure if even accurate file location) with no source maps toggle, other time it doesn't open a file at all.

Console logs are still linked correctly, and the source files do exist in the Source Explorer.

Potentially unrela

[2022-05-27 17:27] jcmorrow commented on #6869
This is definitely a backend bug. Going to move over to that repo.

[2022-05-27 17:27] #6869 closed

[2022-05-27 22:43] oliverdealb commented on #6658
Should we close this out then?

On Thu, May 19, 2022 at 8:30 AM Jaril ***@***.***> wrote:

[2022-05-27 23:55] #6658 closed

[2022-05-28 06:22] jasonLaster opened #6991 "Unsubscribing from an email fails"
Laura from qawolf reported this issue

![image](https://user-images.githubusercontent.com/254562/170813230-38a04aea-19a8-4c6c-ab65-0db1cea7f150.png)

[2022-05-28 17:06] bvaughn commented on #6913
Had a thought about this and wanted to leave it here while it was fresh.

The only case when we can show the number of filtered logs will be for recordings that _don't overflow at all_. If we overflow at all (without a focus region) then we won't be able to reliably to tell users how many messages are _outside of_ their focus region (at least not without a backend update to calculate and send this

[2022-05-30 15:51] jperl opened #6995 ":bug: on DevTools: Unable to bulk move items back to 'You..."
:bug: on DevTools: Unable to bulk move items back to 'Your Library'
• Log in and bulk move items to another team
• Bulk select items &amp; attempt to move back to 'Your Library'
Expected: Able to move items
Result: "Move to:" not an option in the actions menu
Affected test: [Library: Bulk edit from library](https://app.qawolf.com/test/cl2kkz4i5121151dqwfpkm9aoz)

[Auto posted from QA Wolf Slack me

[2022-05-30 20:31] ceceliacreates opened #6996 "Source jumps back to the top after switching to Viewer"
**Description:**
When viewing a source in the DevTools tab, then switching to Viewer, the source does not maintain its current scroll position when returning to DevTools. It instead scrolls back to the top of the source.

**Steps to Reproduce:**

**Expected Result:**

Expectation is the Source would maintain its current scroll position when tabbing between DevTools and Viewer.

**Additional Contex

[2022-05-31 07:09] Andarist opened #6997 "Completions suggesting numbers should insert indexed access"
**Description:**

A raw number is inserted when selecting an available index from the completions popup~. This results in an invalid expression in the console's input.

**Steps to Reproduce:**

1. find an array and check its properties
<img width="299" alt="Screenshot 2022-05-31 at 08 59 09" src="https://user-images.githubusercontent.com/9800850/171111682-72176d80-a445-49ef-a619-c83b4d11f848.png">

[2022-05-31 12:15] jaril commented on #6919
Not seeing this _as often_, but keeping it open to keep an eye on it.

[2022-05-31 14:46] jaril commented on #6772
This takes forever to load the replay fully so the events aren't showing up in the console. Right now there's a 30s timeout. It might make it work if we up that timeout but that's not ideal.

@gideonred mind pairing on this later to see what might be causing this replay to be super slow? Here's the link:

[2022-05-31 14:47] #6951 closed

[2022-05-31 14:53] jaril commented on #6991
The problem appears to be a broken route `https://app.replay.io/settings/preferences`. Switched it to `https://app.replay.io/settings` and everything works fine now.

[2022-05-31 14:53] #6991 closed

[2022-05-31 14:59] jaril commented on #6995
Trying to resolve this test behavior in the slack channel: https://replayio.slack.com/archives/C02GEJCC9JP/p1653925897929579

[2022-05-31 15:04] gideonred commented on #6772
Yeah, i'm seeing the linked replay stuck at 65%.
![Screen Shot 2022-05-31 at 11 04 02 AM](https://user-images.githubusercontent.com/28845582/171206204-66876aa6-ed6f-422a-8c85-0d473934d8f8.png)

Let me see what I can see.

[2022-05-31 15:13] gideonred commented on #6772
Checking if it is related to https://github.com/RecordReplay/backend/issues/5745

[2022-05-31 15:23] gideonred commented on #6772
Doesn't seem related 5745. I can see we're spinning up processes's, but they're almost immediately dying with Segmentation Fault:

[code]

[2022-05-31 15:37] gideonred commented on #6772
This seems somewhat related https://github.com/RecordReplay/backend/issues/5745? Seems like we have another cyclic crashing starting from a grandparent process that ran into a snapshot restore fault.

@bhackett1024 can you have a look?

[2022-05-31 16:14] jcmorrow commented on #6856
This seems like something that is not getting done until at least next sprint, pushed to 32

[2022-05-31 16:14] jcmorrow commented on #6872
Yeah this is one of many of this type of bug that will be solved by #6591

[2022-05-31 16:15] jcmorrow commented on #6872
I don't think we should spend time trying to pile on even more workarounds for this type of thing. The code is already a house of cards, and it's hard to fix one edge case without breaking another, so I think any effort should be spent supporting @markerikson on getting the new analysis management across the finish line.

[2022-05-31 16:58] jcmorrow commented on #6865
This should be an easy fix.

[2022-05-31 17:25] #6865 closed

[2022-05-31 17:30] jcmorrow commented on #6814
I'm guessing that some of this might have been resolved by the pause stuff I've been doing over the past week or two.

[2022-05-31 17:31] jcmorrow opened #7002 "Apollo error upon moving a replay in the library"
Replay: https://app.replay.io/recording/apollo-error-when-moving-replay--11636909-1aab-423b-bd64-569686077a16?point=32451855388208111629992485638375290&time=14512&hasFrames=true#

This still *works*, but Apollo cache errors. It's not a huge deal, but Apollo cache errors are the kind of thing that are easy to ignore until they introduce a subtle bug that later becomes very hard to track down.

[2022-05-31 17:33] jcmorrow commented on #6814
For instance: https://github.com/RecordReplay/devtools/commit/85e046b8d08bfd7f915d65b08f65a6cfe7d36824 should fix some, and https://github.com/RecordReplay/devtools/commit/a303c248836722afde84d135a423a379115d373c should fix others. It's still theoretically possible to run into this, but it should happen way, way less.

[2022-05-31 17:58] jasonLaster commented on #6814
should we close and re-open when we have a small repro or are ready to implement an architecture fix?

[2022-05-31 19:49] gideonred commented on #6814
I'll close for now. Happy to re-open **when** I see it again 😉

[2022-05-31 19:49] #6814 closed

[2022-05-31 19:54] gideonred opened #7003 "Support for Session destruction notifications"
The backend will soon support the ability to notify clients of session destructions and give clients the ability to possibly cancel them: https://github.com/RecordReplay/backend/pull/5765

It would be useful for our end users to see these notifications in devtools so that they can distinguish between sessions crashing unexpectedly on them, versus session we are trying to terminate in a controlled

[2022-05-31 20:30] #6923 closed

[2022-05-31 21:54] jonbell-lot23 opened #7006 "Logging out from library results in 404 (localhost:3000)"
Loom showing the issue: https://www.loom.com/share/6024c1fc89354b49a742f2f7314bc55d

[2022-05-31 21:57] jonbell-lot23 opened #7007 "Library filter should say "Filters" plural, not "Filter""
![image](https://user-images.githubusercontent.com/9154902/171290896-2e5e5e29-56f2-4712-872e-889e6a1c005a.png)

If we're going to match GitHub, this should say "Filters" as a way of showing a series of nouns behind the dropdown, not "Filter" which is a verb.

[2022-06-01 01:05] jcmorrow commented on #6988
Closed with https://github.com/RecordReplay/backend/issues/5767 and  #6994

[2022-06-01 01:05] #6988 closed

[2022-06-01 02:06] jonbell-lot23 opened #7013 "Login.tsx isn't doing the initial login conditional"
[code]

Jon and Jaril discussed this and he's going to take a look tomorrow.

[2022-06-01 12:11] #7007 closed

[2022-06-01 12:47] bvaughn commented on #6996
Ooo, this sort of thing (maintaining state between "unmounts" and "remounts") is one of the things React's new `Offscreen` API will provide (by preserving both React component state _and_ DOM element state).

You can use it for the tab container scenario (like Viewer and Devtools tabes) like so:
[code]

I suspect we have [some things](https://github.com/reactwg/react-18/discussions/19) we'll need

[2022-06-01 14:58] gideonred opened #7030 "Users stuck on Onboarding "Let's time travel screen" for a long time with no indication of anything loading"
Kannan and I were looking into sessions that had a long loading time. One theme came up when looking at log rocket. In almost every case the person was stuck at the "Let's time travel" screen, and after clicking "Ready as I'll ever be, doc", nothing happens. We eventually load in. As far as we can see there's no loading screen shown.

Logrocket sessions: https://app.logrocket.com/4sdo4i/replay/s/5

[2022-06-01 15:24] jaril commented on #6967
Closed by https://github.com/RecordReplay/devtools/pull/6969

[2022-06-01 15:24] #6967 closed

[2022-06-01 15:40] jaril commented on #6853
@markerikson to close?

[2022-06-01 15:40] jaril commented on #6852
@markerikson to close?

[2022-06-01 15:43] jaril commented on #6851
@jcmorrow add detail :pray:

[2022-06-01 15:51] #6852 closed

[2022-06-01 17:13] jcmorrow opened #7032 "If part of the current focus window gets unloaded, we should update the focus window"
Right now if part of the focus window gets unloaded we will reflect that visually on the timeline, which is great, but we won't update the bounds of the current focus window to reflect it, which means that the user can still seek outside of the loaded regions.

I cannot easily show a recording of this because I can't execute the unload command in the console, but here are repro steps:

- Open a re

[2022-06-01 17:15] jcmorrow commented on #6590
Update: Soft focus is out behind a feature flag. Some analysis work is still ongoing (see #6591 for details), and I've added a new task around making a better `getPointNearTime` which will make wider release easier.

[2022-06-01 17:33] jcmorrow opened #7033 "Correctly display errors for logpoints"
This builds on #6852 and #6853. We should show an appropriate error message when the *most* recent analysis run for a logpoint has errored. We should correctly interpret:

- 200+ points, cannot run this analysis, please focus into a smaller window
- 10K+ points, please focus into a smaller window
- Unknown error: Hey, there was a problem, please retry, or let us know if this persists

[2022-06-01 17:39] jasonLaster commented on #6590
@jcmorrow does the friday announcement seem tenable?

[2022-06-01 18:35] jcmorrow opened #7036 "Use points to run analyses inside of a given focus window"
This is a specific subset of where https://github.com/RecordReplay/design/issues/36 meets https://github.com/RecordReplay/devtools/issues/6591.

When we are running an analysis for a log point we should:

- If we do not yet know the points for that location in our focus window, run `Analysis.findPoints`
- Once we know the points, create an analysis, add those points to it, and run that analysis

T

[2022-06-01 19:43] bvaughn commented on #6996
Hey @ceceliacreates This has been resolved in #7034

[2022-06-01 20:07] markerikson opened #7038 ""Large Text" setting results in offset location for line hover button"
When the experimental "Large Text" setting is enabled, hovering over a line number results in the blue "+" button showing up one line too low.

/cc @ryota-murakami if you're interested in checking this

[2022-06-01 20:13] ryota-murakami commented on #7038
@markerikson Thanks reporting this, I can work at weekend about it:)

[2022-06-02 00:36] jperl opened #7042 ":bug: on DevTools: Receiving less than 1000+ console mess..."
:bug: on DevTools: Receiving less than 1000+ console messages and dummyValue is not defined error
Steps to recreate:
• Log in to Replay
• Go to 1000 hits replay ([Assert console error on Replays with 1000+ console messages](https://staging.app.replay.io/recording/1000-hits--76ff5bc7-fcf7-459b-a711-86b1df46a6f4>)
• Hover over the while loop and click the + for dropdown.
• View 10k+ hits but 979 con

[2022-06-02 00:40] jperl opened #7043 ":bug: on DevTools: Over 10k+ hits when expected to see 45..."
:bug: on DevTools: Over 10k+ hits when expected to see 4501
Steps to recreate:
• Log in to Replay
• Go to 1000 hits replay ([Breakpoint panel 500+ hits warning](https://staging.app.replay.io/recording/hello-world-45k-loop--a78bb419-e36b-42bf-a918-b43385a5fb2a>)
• Hover over the while loop and click the + for dropdown.
Expected: 4501 hits
Results: 10k+ hits and dummyValue is not defined error.

Aff

[2022-06-02 02:11] jaril commented on #6419
Same. Not sure exactly why this interaction was as bad as it was in that replay but it seems to work just fine now.

I'm inclined to just close this since the main issue's gone away for now — thoughts?

[2022-06-02 02:11] #7013 closed

[2022-06-02 03:23] bvaughn commented on #6419
The "fix" for this feels pretty heavy handed. Also tempted to close it for now.

[2022-06-02 04:32] ryota-murakami commented on #7038
@markerikson Would you mind attach screenshots or short video?
I'd like to know where is that happening exactly.

[2022-06-02 12:33] bvaughn commented on #6419
Closing this for now as per the above discussion. If we choose to pick it up later, the direction I think we should take is basically this:
* In `ToggleWidgetButton`, add a document level "mousemove" event handler. Every time a "mousemove" event fires, update a local variable with the current time.
* Also add an interval that periodically checks to see if the most recent mouse move event was longe

[2022-06-02 12:33] #6419 closed

[2022-06-02 12:53] jaril commented on #6772
@gideonred @bhackett1024 following up on this 👆

[2022-06-02 13:09] jcmorrow commented on #7043
This will be closed soon as part of fixing up error handling for analyses 👌

[2022-06-02 13:52] bvaughn commented on #6913
The design issue that this bullet links to (https://github.com/replayio/design/issues/65) has more scope than the little bullet point. In fact, it looks to be _primarily_ about showing the number of logs we filtered before/after the focus region, so the scope of this issue is kind of ambiguous.

[2022-06-02 14:39] gideonred commented on #6772
Assigned to BrainH to confirm if this is related to https://github.com/replayio/backend/issues/5745

[2022-06-02 16:03] souporserious opened #7046 "Polish DevTools for landing page"
- [ ] Print Statement: Refresh editing flow
- [x] Print Statement: Unicorn picker
- [x] Network Monitor: Filter drawer
- [ ] Network Monitor: Stack trace
- [ ] React DevTools: Add comment
- [ ] React DevTools: Component timeline

[2022-06-02 16:04] bvaughn opened #7047 "Frontend architecture investigation"
Relates to this discussion thread: https://github.com/replayio/devtools/discussions/6932

Related commits:
- [x] #6992
- [x] #7026

[2022-06-02 16:51] ceceliacreates commented on #6996
Updated user of fix.

[2022-06-02 17:31] jaril commented on #6968
Closed by: https://github.com/replayio/devtools/pull/6969

[2022-06-02 17:31] #6968 closed

[2022-06-02 18:49] jazzdan opened #7048 "Long console error messages are cut off."
**Description:**
If there is an error in the console that is sufficiently long it can be really hard to see the entire error. The error gets cut off, doesn't over flow and sometimes you can't make the pane big enough to see all of it.

**Steps to Reproduce:**
See this replay https://app.replay.io/recording/replay-cant-see-entire-console-error-message--c6915955-eb31-49d3-adb4-ec3849edc306

**Expect

[2022-06-02 19:05] jcmorrow opened #7049 "Sometimes E2E test failures time out when they could fail fast"
Here's one example with a comment:

https://app.replay.io/recording/replay-of-devtools-87h4loy1y-recordreplayvercelapp--34b7c108-1f2e-43ab-83f5-f1583ac34a8a?point=57439784001104008514229074703420950&time=27680&hasFrames=true

[2022-06-02 19:10] jcmorrow commented on #6548
Closed by https://github.com/replayio/devtools/pull/7009

[2022-06-02 19:10] #6548 closed

[2022-06-02 20:09] bhackett1024 commented on #6772
This is related, we were able to replace the crashed snapshot process but it then hanged because we didn't send it any recording data.

[code]

[2022-06-02 22:30] jperl opened #7054 ":bug: on DevTools: clicking fast forward button in consol..."
:bug: on DevTools: clicking fast forward button in console errors out to blank page

steps to repro:
• open a replay
• open replay's devtools
• click fast-forward on an item in console
• blank page, errors in console (Command error and Range error)
replay:
[Add and delete comment from console](https://app.replay.io/recording/clicking-fast-forward-errors-out-with-blank-page--6e4f42eb-d8c5-40a0-bc87

[2022-06-03 00:33] jaril commented on #7032
@jcmorrow inferred from soft focus being a soft yes for being done by tomorrow as a signal to add this to the current sprint. Lmk if I got that wrong!

[2022-06-03 00:35] jaril commented on #7036
Same as shttps://github.com/replayio/devtools/issues/7032, setting this for this current sprint. Let me know if that's not correct!

[2022-06-03 00:39] jaril commented on #7038
@ryota-murakami Jumped in to record this one since I was around the vicinity anyway! https://www.loom.com/share/fed9a5c018c440c594aed9313fc03bd9

[2022-06-03 02:01] jaril commented on #6591
Compiling a list of things that we should revisit when this is closed to make sure we circle back to them and resolve them:
- [ ] https://github.com/replayio/devtools/issues/6872

[2022-06-03 02:12] #6772 closed

[2022-06-03 02:13] jaril commented on #6772
https://replayio.slack.com/archives/C02GEJCC9JP/p1651695193675669

https://files.slack.com/files-pri/TTJD3DR0E-F03J6KM19GC/image.png

[2022-06-03 02:19] #6939 closed

[2022-06-03 02:39] jaril commented on #7003
@jonbell-lot23 this might be a fun one to get your eyes on. There's a bunch of information to follow by backtracking to that backend issue and leading the related code/comments/issues but here are my notes:

Sessions get destroyed. There are times when these get destroyed because it's been idle for some time, and so there's no user impact. But sometimes, they get destroyed while a user is actively

[2022-06-03 02:44] jonbell-lot23 commented on #7003
Super cool, more information in these situations can really help.

Off the top of my head, I'm not sure if we want to be as literal as allowing a person to pause a session from being destroyed. It's a classic example of "don't make me think" where we should probably just use this data to do the right thing. And I think we know what "the right thing" is.

If we haven't detected activity from the us

[2022-06-03 02:45] jaril commented on #7043
Just reran the tests and it seems to be working fine now. Will bring it up in Slack.

<img width="1800" alt="image" src="https://user-images.githubusercontent.com/15959269/171776440-90565bee-97ef-475f-b116-91b1926d5881.png">

https://replayio.slack.com/archives/C02GEJCC9JP/p1654130410271679 @jcmorrow for visibility 🙋‍♂️

[2022-06-03 03:14] jaril commented on #7042
This is passing. Waiting for confirmation before closing.

![Uploading image.png…]()

https://replayio.slack.com/archives/C02GEJCC9JP/p1654130211443529

[2022-06-03 09:39] hbenl opened #7058 "Session.createPause failure crashes devtools"
#7009 triggered a bug in the Message component: when there is no current point (which happens when Session.createPause fails), it uses a default value of `Number.POSITIVE_INFINITY`, but that can't be converted to a BigInt.
https://app.replay.io/recording/replay-crash--5fbf3aff-802b-4617-b961-6babba24548a

[2022-06-03 10:25] #7058 closed

[2022-06-03 10:26] hbenl commented on #7058
I fixed the crash in #7059 but wanted to call out that we need to start thinking about how to handle situations where there is no current pause. There are probably a lot of places in devtools that assume that there always is a current pause (at least after calling `ThreadFront.ensureCurrentPause()`) but if we want to handle `Session.createPause` failures correctly (and if we want to allow the user

[2022-06-03 14:31] jcmorrow commented on #7058
Agreed, this is not ideal.

[2022-06-03 15:20] #6813 closed

[2022-06-03 15:22] bvaughn commented on #6913
Removing the sync-video feature flag (#7062) seems to greatly reduce the complexity of enabling the new "play video outside of the focus region" behavior.

[2022-06-03 17:21] bvaughn opened #7065 "Audit code for consistent use of "begin" and "end""
Right now the frontend uses a mix of the terms "begin" and "end" (which matches the backend protocol) and "start" and "end". We should remove the latter for consistency (and because it's kind of semantically goofy too).

[2022-06-03 18:37] loganfsmyth commented on #7003
That statistic is pretty misleading in my opinion because deployments are the _only_ time we force-destroy a session for a reason that isn't an actual recording error, so any session that exists when we deploy will be counted toward that even if the session wasn't being actively used.

@jonbell-lot23
To clarify the details a bit here now, the API will inform the frontend of a few basic things:
* G

[2022-06-03 18:56] bhackett1024 opened #7067 "Messed up comment locations"
Spun off from https://github.com/replayio/backend/issues/5863.  Replay: https://app.replay.io/recording/bad-comments--b5f6b34f-0240-4c59-af3d-cd212435b7ad?point=54194598486288670140805861521492907&time=22516.449554896142&hasFrames=false

[2022-06-03 19:00] loganfsmyth commented on #7003
As part of this work, we also need to fix our session-destroy dialog to give the user the message our API returned, because right now it appears we fall back to a generic error. Even if the backend gave a message like "Session died due to inactivity", the UI shows essentially "Something went wrong, we'll look into it" (see https://github.com/replayio/backend/issues/5856)

[2022-06-03 19:52] bvaughn commented on #6486
@souporserious and I are both seeing this again so I'm re-opening.

[2022-06-03 21:37] jcmorrow commented on #7043
I am pretty sure we confirmed with QAWolf that this is fixed.

[2022-06-03 21:37] #7043 closed

[2022-06-03 21:45] jazzdan opened #7071 "Pressing enter doesn't do anything in rename dialog box"
**Description:**
I pressed enter here and expected my edit to be saved. Instead nothing happened.

**Steps to Reproduce:**
https://app.replay.io/recording/pressing-enter-in-rename-dialog-does-nothing--be22b0f7-e3f3-4d1d-a09c-9b8bfb20e46b

**Expected Result:**
I expected my rename to be saved after I press enter.

[2022-06-03 22:38] jonbell-lot23 commented on #7030
Great point @jaril and @gideonred .

Yeah, we target a new tab here, so that's what's going wrong. I don't have my data in front of me because it's Saturday but I believe this feels broken in the current flow. (For UX reasons, not logrocket ones)

So I think the "ready as I'll ever be" page should stay on the same tab unless we can explain why that somehow breaks something. Then we fix our logrock

[2022-06-03 22:48] jonbell-lot23 commented on #7003
Thanks for the background! It's Saturday and I'm just skimming but wanted to respond so I don't block anyone.

This background is great and I understand more of the nuance now. I'm pretty sure we're basically just down to messaging differently based on what happened. So I see a few insights:

1. Don't make me think -- just do stuff as long as the visitor doesn't need to know about it. For example,

[2022-06-03 23:31] loganfsmyth commented on #7003
The main thing in my mind is that there is absolutely value in warning the user before we destroy a session, and currently the UX around that is undefined.

* If we're deploying, there is value in messaging when we are close to the time when expect to destroy a session without recourse, because they can still take action to decide that it is a good time to reload, so they can avoid getting any err

[2022-06-04 00:34] jonbell-lot23 commented on #7003
That's reasonable.

So I'd imitate what command-line computing has done for many decades, the whole "Hey the server is shutting down in x minutes" thing.

I still have concerns about forecasting it too far in the future, so here's what I'd propose:

* We tell the person when it's gonna happen in the next five minutes
* I think it's reasonable to explore a banner across the top the full app. Copy t

[2022-06-04 00:48] loganfsmyth commented on #7003
Sounds great, and yes I agree that the banner shouldn't be there for a super long time, 5 minutes or even less is fine with me. 5 minute sounds good for a forced-deploy since they have to refresh and giving them time to plan for that is important, and a banner or something feels like a good way to do that. For the case of inactivity, a banner is an option, though I do wonder if it'd be even better

[2022-06-04 03:15] jaril commented on #6919
This is happening again: https://ui.honeycomb.io/replay/datasets/backend/result/4nSpxnJbYHr/a/3fveKN7U4W1?useStackedGraphs

[2022-06-04 16:31] codingnninja commented on #7065
@bvaughn I will take this up to get started with the code base.

[2022-06-05 21:13] jonbell-lot23 commented on #6828
CC @jaril this is a small tweak that will bring some joy, so it'd be nice to get it knocked out

[2022-06-05 21:15] jonbell-lot23 commented on #6840
Hey @jaril I nominate this for higher priority since it ties into the website and the awesome story we're trying to tell

[2022-06-05 21:16] jonbell-lot23 commented on #6911
cc @jaril Good "broken window" that should be easy to knock out and would be good to address

[2022-06-05 21:17] jonbell-lot23 commented on #7003
Going to assign myself for a quick banner design, but don't wait on me. Obviously the main work is hooking up the code, and a placeholder banner is fine while I work on other priorities.

[2022-06-05 22:08] ceceliacreates opened #7073 "Cancel or delete a draft comment"
**Description:**
Currently, if you create a comment accidentally or decide you don't want to create a comment after all, there is not a clear way to cancel or delete the draft comment. You have to refresh to remove the comment draft box.

**Steps to Reproduce:**
Create a comment. Try to delete without saving.

**Expected Result:**
Comment would have "Cancel" or "Delete" option when in draft mode.

[2022-06-05 22:21] ceceliacreates opened #7074 "Make recorded URL easier to find"
**Description:**

Currently, you have to hover over the root URL in the left sidebar to see locations being recorded during a replay, or log window.location. For debugging issues where the URL is important information, it would be helpful to have an option to view the current URL on screen or make this information more accessible.

**Steps to Reproduce:**

**Expected Result:**

**Additional Contex

[2022-06-06 00:04] jonbell-lot23 opened #7075 "Filters are broken in library"
Loom: https://www.loom.com/share/5166b9f350254cb286155e0a64eef243
Replay: https://app.replay.io/recording/filters-broken-in-library--7806ed02-9eaf-4ea4-8a7a-61e7f89cf796

When I select "Last 7 days" or the other filters, nothing happens.

[2022-06-06 13:52] jaril commented on #6840
It ties into the website, but that new website hasn't landed yet.

Leaving it in the next sprint for now, but I deprioritized some console polish so that there's less things ahead of it.

[2022-06-06 14:00] jaril commented on #7003
+1 on direction. Unsure about something as loud as a banner, but at the same time, it's so in your face that we'll run into it and have a better sense of how to tone it down once it's in.

@loganfsmyth my understanding is that in the `willDestroy` case, refreshing the page should start a new session and the user can keep debugging. Is that right??

[2022-06-06 14:36] jcmorrow commented on #7036
This was actually done in #7055 🎉

[2022-06-06 14:36] #7036 closed

[2022-06-06 14:49] #6692 closed

[2022-06-06 15:15] gideonred opened #7076 "Logging out of app.replay.io redirects me http://localhost:3000/"
After logging into app.replay.io (production), if I log out, I'm redirected to http://localhost:3000/.

I don't expect the production site to be redirecting me to anything localhost.

I wish I could make a Replay, but the act of logging out causes the Replay to stop.

Old school recording:

https://user-images.githubusercontent.com/28845582/172190212-ef1bbab7-8ded-4b6d-a687-b648f2d4b25f.mov

[2022-06-06 15:42] jcmorrow commented on #7054
I suspect that https://github.com/replayio/devtools/issues/7058 has fixed this.

[2022-06-06 15:43] jcmorrow commented on #6872
This is fixed

[2022-06-06 15:43] #6872 closed

[2022-06-06 15:55] jaril commented on #7076
Duplicate in: https://github.com/replayio/devtools/issues/7076

[2022-06-06 15:55] #7076 closed

[2022-06-06 15:58] gideonred commented on #7054
I tried rerunning the test (https://app.qawolf.com/test/ckyx7laak92221350mirjnmkb4d), but it's running into invalid recording Id.

[2022-06-06 16:19] jcmorrow opened #7077 "Handling disconnect messaging"
We now raise a `session was destroyed` style error when a controller dies due to not being used for a while. Before that we get a series of warning which we also don't handle right now.

[code]

Probably we should:

- Store the warnings in the store (eventually it would be nice to maybe pop a modal telling the user we will disconnect soon and letting them cancel that, but we don't need to do that

[2022-06-06 16:25] loganfsmyth commented on #7003
Yep that's right!

[2022-06-06 18:57] gideonred commented on #7077
Related https://github.com/replayio/devtools/issues/7003

[2022-06-06 19:01] gideonred opened #7079 "Devtools reporting "we'll look into it as soon as possible." when we wont."
This may be covered by https://github.com/replayio/devtools/issues/7003, but I wanted to cut a separate ticket because there might be a shorter term solution.

The backend can now close sessions due to inactivity, here's an example of a session being closed:

https://ui.honeycomb.io/replay/datasets/backend/result/gP8qJTHPPdR

When this happens, devtools reports "Something went wrong while replayin

[2022-06-06 19:16] gideonred commented on #7074
I was just looking for this in the ticket queue because I was sure we've had tickets before about this.

But +1. I've probably typed window.location.href into a Replay about 30 times in the last 2 business days.

I didn't know about the hovering, so that's nice. But it doesn't help because I need to be able to copy and paste the URL (e.g. recordingIds in Replay URLs).

[2022-06-06 22:38] jonbell-lot23 commented on #7003
Also notable that we're looking at two versions of loud:

1. The space it takes up
2. The actual colors used

A banner is a great way to be obvious but polite. You can use a white background (rather than hot pink), you can make it not super tall (rather than taking half the screen), and it doesn't have to put you in a new mode that requires dismissing (as opposed to a modal dialog).

We have a sim

[2022-06-07 04:59] ryota-murakami commented on #7038
THis is realy for review.
https://github.com/replayio/devtools/pull/7072

[2022-06-07 11:13] jcmorrow commented on #7077
Oh thanks @gideonred , I was looking for an equivalent card and did not see it, I'll close this one

[2022-06-07 11:13] #7077 closed

[2022-06-07 11:19] jcmorrow commented on #7079
Yeah I agree. We're doing a lot of rethinking of how we handle things, which is fine, but the first goal should be avoiding regressions. I'll take a quick swing at this now, shouldn't be too complicated without any other changes.

[2022-06-07 11:54] #6316 closed

[2022-06-07 12:37] #6913 closed

[2022-06-07 13:31] #7079 closed

[2022-06-07 13:35] #7038 closed

[2022-06-07 13:36] markerikson commented on #7038
@ryota-murakami Yeah, totally understand.  I did just merge the hover tooltip fix PR.

Really hope you can get things figured out soon!

[2022-06-07 13:51] jasonLaster opened #7090 "Focus Window edge cases"
Saw two edge cases in this [replay](https://app.replay.io/recording/focus-window-console-messages--d2886ce7-bc4a-4d45-9ed6-7d94556f0372?point=96706529039814627722125151026806784&time=35368.20751761942&hasFrames=false)
1. we say there are too many messages, but dont show any messages in the console
2. the focus window is set to the end, but we say there might be messages after the window

[2022-06-07 14:19] jaril commented on #7030
AHH that's how this got surfaced. Yeah I think that's right. Closign this for now!

[2022-06-07 14:19] #7030 closed

[2022-06-07 14:21] hbenl commented on #6919
Here's the recording of a recent failure: https://app.replay.io/recording/be410907-4775-4864-9d9d-343e21d7a2f4
There's a logpoint with 2 hits but only one corresponding console message:
![Screenshot from 2022-06-07 16-17-22](https://user-images.githubusercontent.com/16060807/172403775-850d8dc9-bc82-4141-8655-996cd3f50c1e.png)
![Screenshot from 2022-06-07 16-19-42](https://user-images.githubusercon

[2022-06-07 14:38] bvaughn commented on #6486
Just to clarify, I believe you are saying that we should add which recordings React DevTools doesn't load for?

I'll try to remember to do that.

[2022-06-07 15:08] souporserious commented on #6486
On my end this has been due to the browser's React dev tools extension not loading so either Chrome/Brave in my case. I still see it intermittently, but will record a Replay next time it happens!

[2022-06-07 15:09] bvaughn commented on #6486
I don't think Holger's asking us to record a Replay of the bug happening. I don't think we can, since we can't record a replay of _Chrome extensions_.

I think he's asking if there's a pattern of this bug happening for some recordings and not others– like if there's something _about specific to a recording_ that triggers it.

[2022-06-07 17:18] #6919 closed

[2022-06-07 23:56] souporserious opened #7094 "Network Monitor Stack Trace panel never loads"
**Description:**
The Stack Trace panel never loads.

**Steps to Reproduce:**
Navigate to a POST request in the Network Monitor and view the Stack Trace panel which never seems to load.

**Expected Result:**
It shows the correct Stack Trace at the time of the POST.

https://app.replay.io/recording/network-monitor-stack-trace-never-loads--53f4da67-69bc-48cc-b0b3-a02d22dc5b5c

[2022-06-08 06:41] jcmorrow commented on #7094
@souporserious could you make the original Replay public? That might help with diagnosing

[2022-06-08 07:37] souporserious commented on #7094
Ah, yes! Here it is https://app.replay.io/recording/overboard--e5575afa-4719-4df8-ae45-d0639ae46b15

[2022-06-08 08:04] jcmorrow commented on #7067
Pretty sure this was just miscommunication on my part. Those were the correct locations for those comments, and they did not have pause points because the thing I was commenting on was my inability to get hitcounts/points to seek to for leaving comments on 🤷

[2022-06-08 08:04] #7067 closed

[2022-06-08 08:07] jcmorrow commented on #7042
I'm gonna close this since we released a fix for these issues last week. If we're still seeing, I expect QAWolf would open an new ticket.

[2022-06-08 08:07] #7042 closed

[2022-06-08 14:38] jaril commented on #6595
Thrown into July since it's not super urgent and edge case-y. To triage then.

[2022-06-08 15:46] jaril commented on #7032
@bvaughn mind picking this up?

[2022-06-08 16:28] bvaughn commented on #7032
I don't think I see the connection you're making here @jcmorrow. We now explicitly allow you to seek outside of loaded regions (as #6913: Global Loader 1.6) so even if we resized the focus window to fit unloaded regions, it would still be possible to do that.

[2022-06-08 16:32] bvaughn commented on #7090
Happy to look at this but at least for the moment it's not in the current sprint– so I assume it should not be prioritized over other things.

[2022-06-08 16:41] bvaughn commented on #7032
Here's a Loom showing what I mean:
https://www.loom.com/share/86716b2dd31f4c08a2a0b45e5eb9fe66?from_recorder=1&focus_title=1

I think this is working as intended now (as of #7064).

[2022-06-08 16:58] jaril commented on #7054
Followed up with them: https://replayio.slack.com/archives/C02GEJCC9JP/p1654209000691899

[2022-06-08 17:25] bvaughn commented on #7032
Going to close this as "working as designed" then. Josh please re-open if I'm mistaken!

[2022-06-08 17:25] #7032 closed

[2022-06-08 17:50] jcmorrow commented on #7032
Oh, ha, funny. Yeah, it allowed clicking outside of the window back when that *wasn't* supposed to be allowed, but now that we've changed the rules, it's fine.

[2022-06-08 18:11] ashwinkhode commented on #6403
Hey @jaril I made a PR for this issue. Sorry for giving PR out of the blue I was going through the issues and this seemed easy so fixed it. Let me know if there are any changes need to be made in the PR. :)

PR : https://github.com/replayio/devtools/pull/7100

[2022-06-08 18:13] bvaughn commented on #6723
Can we disallow commenting when you're not signed in to reduce the likelihood of this happening?

[2022-06-08 18:48] bvaughn commented on #7090
From what I can see, I think #7101 is the only "fix" here.

However I think we should probably probably also make a UX tweak:

[2022-06-08 19:45] bvaughn commented on #7090
#7102 is an optional messaging tweak that _I think_ is a small improvement to the edge case I described above.

[2022-06-08 20:27] jperl opened #7104 ":bug: on DevTools: Focus region not constraining playback..."
:bug: on DevTools: Focus region not constraining playback
• Log in
• Open a replay
• Create a focus region
Expected: Playback to only occur inside the selected region
Actual: whole replay will run durring playback
Affected test: [Assert focus play bar](https://app.qawolf.com/test/cl0llq50e151510450sesmnv5s99)
[Replay](https://app.replay.io/recording/focus-mode-not-constraining-playback--2bed8ad1-d

[2022-06-08 20:51] jperl opened #7105 ":bug: on DevTools: Tool tip for breakpoints failing to lo..."
:bug: on DevTools: Tool tip for breakpoints failing to load
• Log in
• Navigate to a replay
• Find a source
• Hover a line to bring up breakpoint tool tip
Expected: tool tip to load
Actual: Tool tip stuck on "Loading.."
Affected tests: [Assert console error on Replays with 1000+ console messages](https://app.qawolf.com/test/ckz7kni7y16626152qqker2w2a2), [Breakpoint panel 500+ hits warning](https:/

[2022-06-08 22:05] souporserious commented on #6723
Sweet, yeah I think keeping comment state in one place is the right call 🚢. And disabling comments when signed out totally makes sense!

[2022-06-08 22:59] markerikson commented on #7105
Could be legit based on the recent changes to breakpoints and analyses

[2022-06-09 01:48] jonbell-lot23 commented on #6403
@ashwinkhode Replay's designer thanks you! This is really helpful!